{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <div class="product-list">
        <f:for each="{productCategories}" as="products" key="category">
            <div class="category-section">

                <h3>{category}:</h3>
                <f:for each="{products}" as="product">
                    <div class="product-preview">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image">
                                        <f:image src="{product.image.0.originalResource.publicUrl}" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                	<p class="title">{product.title}</p>
                                    <f:format.html>{product.description}</f:format.html>
                                    <div class="price">
                                    <span style="display:none;">{product.price}</span>
                                        <v:condition.string.contains haystack="{product.price}" needle=".">
                                           <f:then>
                                                CHF {product.price}
                                           </f:then>
                                           <f:else>
                                                CHF {product.price}.–
                                           </f:else>
                                        </v:condition.string.contains>
                                        <span class="small"><f:translate key="product.list.priceLabelAfter" /></span>
                                    </div>
                                    <f:if condition="{product.available}">
                                    	<br /><f:link.page pageUid="61" class="button-blue">
                                    		<f:translate key="subscription.submit" />
                                        </f:link.page>
                                    </f:if>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:for>

    </div>

</f:section>