
<table class="tx-dld" >
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.header_image" />
		</td>
		<td>
			{event.headerImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.is_visible" />
		</td>
		<td>
			{event.isVisible}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.slide_image" />
		</td>
		<td>
			{event.slideImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.conference_image" />
		</td>
		<td>
			{event.conferenceImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.program_pdf" />
		</td>
		<td>
			{event.programPdf}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.max_invitee" />
		</td>
		<td>
			{event.maxInvitee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.twitter_hashtag" />
		</td>
		<td>
			{event.twitterHashtag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
</table>