<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="titel">
	<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="untertitel">
	<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.untertitel" />
</label><br />
	<f:form.textfield property="untertitel" /><br />
<label for="text">
	<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="bild">
	<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.bild" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="kosten">
	<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.kosten" />
</label><br />
	<f:form.textfield property="kosten" /><br />
</html>