<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fag-besichtigung" >
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.titel" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.untertitel" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.text" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.bild" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_gruppentyp.kosten" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>