{namespace gl = Logifacttheme\Logifact\ViewHelpers}
<div id="aside_menu_slider"><span class="aside">Menu</span></div>
<nav class="menu slide-menu-right">
    <ul>
        <f:for each="{navMain}" as="link">
           <li>
               <a href="{link.link}">{link.title}</a>
           </li>
        </f:for>
    </ul>
    <div class="small">

        <a href="tel:{gl:GetSettings(extensionKey:'tx_logifact_frontend',settingKey:'contactNumber')}" class="phone"><span>Telefon</span></a>
        <a href="mailto:{gl:GetSettings(extensionKey:'tx_logifact_frontend',settingKey:'ContactMail')}" class="email"><span>E-Mail</span></a>
        <a href="{gl:GetSettings(extensionKey:'tx_logifact_frontend',settingKey:'mapsLocationLink')}"
           class="route" target="_blank"><span>Route</span></a>
    </div>
    <button class="close-menu">x</button>
</nav>
<div id="slider_contact" style="position:fixed; right:-342px; z-index: 2">
    <div id="sidebar" onclick="open_panel()">
        <img src="/fileadmin/templates/images/buttons/contact.png" alt="">
    </div>
    <div id="header_contact_slider">
        <f:format.raw>
            <f:for as="page" each="{rightmenu}">
                <f:cObject typoscriptObjectPath="lib.rightMenu" data="{pageuid: '{page.data.uid}'}"/>
            </f:for>
        </f:format.raw>
    </div>
</div>
<footer>
    <div class="footer_inhalt">
        <div class="footer_inhalt_oben">
            <f:format.raw>{service_telefon_text}</f:format.raw>
        </div>

        <div class="footer_inhalt_unten">
            <div class="footer_inhalt_teil1">
                <div class="footer_inhalt_teil1_oben">
                    <f:format.raw>{anfahrt_kontaktformular_button_text}</f:format.raw>
                </div>
                <div class="footer_inhalt_teil1_unten">
                    <table class="contenttable">
                        <tbody>
                        <f:for each="{gl:arrayChunk(size: 3, array: '{footerNavigation}')}" as="line">
                            <tr>
                                <f:for each="{line}" as="link">
                                    <td>
                                        <img src="fileadmin/templates/images/pfeil.png" style="" alt="" width="6"
                                             height="7"> <a
                                            href="{link.link}">{link.title}</a>
                                    </td>
                                </f:for>
                            </tr>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer_inhalt_teil2">
                <div class="footer_inhalt_teil2_oben">
                    <f:format.raw>{Fernwartung_OnlineShop}</f:format.raw>
                </div>
                <div class="footer_inhalt_teil2_unten">
                    <f:format.raw>{newsletter_anmeldung_archiv}</f:format.raw>

                </div>
            </div>
        </div>
    </div>
</footer>