<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="emailPrivate">
	<f:translate key="tx_dld_domain_model_people.email_private" />
</label><br />
	<f:form.textfield property="emailPrivate" /><br />
<label for="emailDefaultCc">
	<f:translate key="tx_dld_domain_model_people.email_default_cc" />
</label><br />
	<f:form.textfield property="emailDefaultCc" /><br />
<label for="socialLinkedinUrl">
	<f:translate key="tx_dld_domain_model_people.social_linkedin_url" />
</label><br />
	<f:form.textfield property="socialLinkedinUrl" /><br />
<label for="socialTwitterUsername">
	<f:translate key="tx_dld_domain_model_people.social_twitter_username" />
</label><br />
	<f:form.textfield property="socialTwitterUsername" /><br />
<label for="isAmazingSpeaker">
	<f:translate key="tx_dld_domain_model_people.is_amazing_speaker" />
</label><br />
	<f:form.checkbox property="isAmazingSpeaker" value="1" /><br />
<label for="amazingSpeakerSortOrder">
	<f:translate key="tx_dld_domain_model_people.amazing_speaker_sort_order" />
</label><br />
	<f:form.textfield property="amazingSpeakerSortOrder" /><br />
</html>