<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="titel">
	<f:translate key="tx_fagbesichtigung_domain_model_event.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="untertitel">
	<f:translate key="tx_fagbesichtigung_domain_model_event.untertitel" />
</label><br />
	<f:form.textfield property="untertitel" /><br />
<label for="bild">
	<f:translate key="tx_fagbesichtigung_domain_model_event.bild" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="text">
	<f:translate key="tx_fagbesichtigung_domain_model_event.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="zusatztext">
	<f:translate key="tx_fagbesichtigung_domain_model_event.zusatztext" />
</label><br />
	<f:form.textarea property="zusatztext" cols="40" rows="15" /><br />
<label for="preishinweis">
	<f:translate key="tx_fagbesichtigung_domain_model_event.preishinweis" />
</label><br />
	<f:form.textfield property="preishinweis" /><br />
</html>