{namespace flux=FluidTYPO3\Flux\ViewHelpers}{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div xmlns:flux="http://fedext.net/ns/flux/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="offers" label="#15 - One Feature Box" description="This adds a block with a heading and button" options="{icon: '/typo3conf/ext/avonis_theme/Resources/Public/Icons/Content/offers.png', group: 'New Templating', sorting: '400'}">
			<flux:form.option name="Fluidcontent" value="{sorting: 1500}"/>

			<flux:form.sheet name="data" label="Basic">
				<flux:field.input name="heading" label="Heading" required="true"/>
				<flux:field.input name="buttontext" label="Button label (the button rezises by content)" />
				<flux:field.input name="link" label="Link to page, an external Site or an file">
					<flux:wizard.link/>
				</flux:field.input>
			</flux:form.sheet>

			<flux:form.sheet name="style" label="Customise heading styles">

				<flux:field.select name="heading-color" label="Heading Color:" items="{heading-color-tr:'Titan Red', heading-color-grey:'Grey', heading-color-black:'Black', heading-color-white:'White'}" default="heading-color-tr" size="1" maxItems="1"/>
				<flux:field.select name="heading-align" label="Heading alignment:" items="{heading-align-left:'Left', center:'Center', tright:'Right'}" default="heading-align-left" size="1" maxItems="1"/>
				<flux:field.select name="heading-size" label="Heading size:" items="{20px:'Small', 30px:'Default', 40px:'Larger', 50px:'Larger +', 58px:'Larger ++', 70px:'Largest', 80px:'the Biggest'}" default="30px" size="1" maxItems="1"/>
				<flux:field.select name="heading-icon" label="Heading icon:" items="{none:'None', icon-cloud-download:'Download', icon-map-marker:'Map marker'}" default="none" size="1" maxItems="1"/>
			</flux:form.sheet>

			<flux:form.sheet name="button-style" label="Customise button style">
				<flux:field.select name="button-color" label="Button Color:" items="{button-black:'Black', button-white:'White', button-red:'Titan red'}" default="button-red" size="1" maxItems="1"/>
				<flux:field.select name="button-text-style" label="Button Text Style:" items="{capitalize:'Capitalize', uppercase:'Uppercase'}" default="uppercase" size="1" maxItems="1"/>
				<flux:field.select name="button-size" label="Button size:" items="{button-mini:'Mini', button-small:'Small', b-default-size:'Default', button-large:'large +', button-xlarge:'Larger ++', button-desc:'Largest'}" default="b-default-size" size="1" maxItems="1"/>
				<flux:field.select name="button-style" label="3D Button style:" items="{button-3d:'Yes', button-2d:'No'}" default="button-2d" size="1" maxItems="1"/>
				<flux:field.select name="button-rounded" label="Button rounded:" items="{button-rounded:'Yes', button-not-rounded:'No'}" default="button-not-rounded" size="1" maxItems="1"/>
				<flux:field.select name="button-arrow" label="Button arrow:" items="{button-arrow:'Yes', button-without-arrow:'No'}" default="button-arrow" size="1" maxItems="1"/>
			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">
		<table style="width: 100%;">
			<tr>
				<td style="width: 100%; padding: 1%;">
					<f:if condition="{heading}">
						<f:then><h2>{heading}</h2></f:then>
					</f:if>
				</td>
			</tr>
			<tr>
				<td style="width: 100%; padding: 1%;">
					<p>{buttontext} -> {link}</p>
				</td>
			</tr>
		</table>

	</f:section>

	<f:section name="Main">
		<div class="feature-box fadeIn animated" data-animate="fadeIn">
			<f:link.page pageUid="{link}">
				<div class="fbox-icon">
					<i class="{heading-icon}"></i>
				</div>
				<h3 style="font-size: {heading-size}; font-weight: {heading-weight};" class="csc-firstHeader {heading-align} {heading-color} {heading-weight}">{heading}</h3>
			</f:link.page>

			<f:if condition="{buttontext}">
				<f:then>
					<f:link.page pageUid="{link}" class="custom button {button-color} {button-rounded} {button-style} {button-size} {button-text-style} tright {f:if(condition: '{button-color} == \'button-white\'', then: 'button-border')}">
						{buttontext}
						<f:if condition="{button-arrow} == 'button-without-arrow'">
							<f:else><i class="icon-circle-arrow-right"></i></f:else>
						</f:if>
					</f:link.page>
				</f:then>
				<f:else>

				</f:else>
			</f:if>

		</div>
	</f:section>
</div>
