
<label for="name">
	<f:translate key="tx_aermecextension_domain_model_aermecextension.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="color">
	<f:translate key="tx_aermecextension_domain_model_aermecextension.color" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="color" /><br />
<label for="price">
	<f:translate key="tx_aermecextension_domain_model_aermecextension.price" />
</label><br />
	<f:form.textfield property="price" /><br />