<div id="c174" class="csc-default">
    <div class="element_titelbild_text">
        <div class="col0">
            <div id="c173" class="csc-default">
                <!--  Image block: [begin] -->
                <div class="csc-textpic csc-textpic-left csc-textpic-above">
                    <div class="csc-textpic-imagewrap">
                        <div class="csc-textpic-image csc-textpic-last">
                            <f:variable name="img"
                                        value="{f:uri.image(image: '{files.0}')}"/>
                            <img src="{img}" alt="" width="1140" height="451"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col1">
            <div id="c172" class="csc-default">
                <div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">{data.header}</h1></div>
                <p class="bodytext">{data.bodytext}
                </p>
            </div>
        </div>
    </div>
</div>