<div class="element_lexware_2spalten">
    <div class="col0">

        <div class="csc-header csc-header-n1">
            <h1 class="csc-firstHeader">{data.header}</h1>
        </div>
        <f:format.html>{data.bodytext}</f:format.html>

</div>
    <div class="col1">

        <div class="csc-textpic csc-textpic-center csc-textpic-above">
            <div class="csc-textpic-imagewrap">
                <div class="csc-textpic-center-outer">
                    <div class="csc-textpic-center-inner">
                        <div class="csc-textpic-image csc-textpic-last">
                            <f:variable name="img"
                                        value="{f:uri.image(image: '{files.0}')}"/>
                            <img src="{img}" alt="" width="340" height="58">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="bodytext">
            <b>{data.subheader}</b>
        </p>
        <p class="bodytext">
            <f:for as="link" each="{links}">
                <a href="{f:uri.page(pageUid: '{link.data.link}', absolute: '1')}" target="_blank">{link.data.title}</a>
                <br>
            </f:for>
        </p>
    </div>

</div>