<div class="element_1spaltig">
    <div class="col0">
        <div class="csc-textpic csc-textpic-intext-right-nowrap csc-textpic-intext-right-nowrap-601">
            <div class="csc-textpic-imagewrap">
                <div class="csc-textpic-image csc-textpic-last">

                    <f:variable name="img"
                                value="{f:uri.image(image: '{files.0}')}"/>
                    <img
                        src="{img}" alt=""
                        width="591" height="247">
                </div>
            </div>
            <div class="csc-textpic-text">

                <div class="csc-textpicHeader csc-textpicHeader-25"><h1 class="csc-firstHeader">{data.header} </h1></div>
<f:format.html>{data.bodytext}</f:format.html>
                </p>

            </div>
        </div>
    </div>
</div>