<div class="tx-camaliga">

    <div id="carousel_container3">
        <div  class="camaliga_left_scroll">
            <a href="#">&nbsp;</a>
        </div>

        <div id="carousel_inner3">
            <ul id="slider{data.uid}" class="camaliga_start" style="left: -215px;">
                <f:for as="slide" each="{slides}" key="i">
                    <li class="carousel_li">
                        <f:if condition="{slide.data.link}">
                            <a href="{f:uri.page(pageUid: '{slide.data.link}', absolute: '1')}"
                               class="external-link-new-window">
                        </f:if>
                        <f:variable name="img"
                                    value="{f:uri.image(image: '{slide.files.0}')}"/>
                        <img title="Partner {i}" alt="Partner {i}"
                             src="{img}" width="195"
                             height="195">
                        <f:if condition="{slide.data.link}">
                        </a>
                        </f:if>

                        <h4>{slide.data.title}</h4>
                        <f:format.html>{slide.data.subtitle}</f:format.html>
                    </li>
                </f:for>
            </ul>
        </div>
        <div  class="camaliga_right_scroll">
            <a href="#">&nbsp;</a>
        </div>
        <input type="hidden" id="hidden_auto_slide_seconds3" value="0">
    </div>
    <div style="clear:both;"><!-- --></div>


</div>