<f:for as="teaser" each="{teasers}">

    <div class="element_bild_text">
        <div class="col0">
            <div id="c118" class="csc-default">

                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                    <div class="csc-textpic-imagewrap">
                        <div class="csc-textpic-center-outer">
                            <div class="csc-textpic-center-inner">
                                <div class="csc-textpic-image csc-textpic-last">
                                    <f:variable name="img"
                                                value="{f:uri.image(image: '{teaser.files.0}')}"/>
                                    <img src="{img}" alt=""
                                         width="196" height="110">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col1">
            <div id="c119" class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader">{teaser.data.title}</h1>
                </div>
                <f:format.html>{teaser.data.content}</f:format.html>
            </div>
            <f:for as="link" each="{teaser.links}">
                <div id="c120" class="csc-default">
                    <div class="tx-dce-pi1">

                        <a href="{f:uri.page(pageUid: '{link.data.link}', absolute: '1')}">
                            <div class="buttontextOrange">
                                {link.data.title}
                            </div>
                        </a>

                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:for>