<f:switch expression="{data.type_slant}">
    <f:case value="0">

        <div class="slant-up-white--desk"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_up_white_desktop.svg');">
        </div>

        <div class="slant-up-white--mobile"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_up_white_mobile.svg');">
        </div>

    </f:case>
    <f:case value="1">

        <div class="slant-up-black--desk"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_up_black_desktop.svg');">
        </div>

        <div class="slant-up-black--mobile"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_up_black_mobile.svg');">
        </div>

    </f:case>
    <f:case value="2">

        <div class="slant-v-white--desk"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_v_desktop.svg');">
        </div>


        <div class="slant-v-white--mobile"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_v_mobile.svg');">
        </div>

    </f:case>
    <f:case value="3">
        <div class="slant-down-white--desk"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_down_white_desktop.svg');">
        </div>
        <div class="slant-down-white--mobile"
             style="background-image: url('/fileadmin/user_upload/img/svg/slant_down_white_mobile.svg');">
        </div>
    </f:case>
</f:switch>






