<section class="newsroom" id="newsroom-section">
    <div class="container-fluid text-center">
        <h2>{data.header}</h2>
        <div class="row">
            <div class="col-md-8 mx-auto">
               <f:format.raw>{data.bodytext}</f:format.raw>
            </div>
        </div>
        <f:comment>
        <div class="row">
            <div class="col-md-4 mx-auto text-center newsroom__button">
                <a href="#" class="custom-btn custom-btn--big">load more</a>
            </div>
        </div>
        </f:comment>
    </div>
</section>

