<f:layout name="Default" />

<f:section name="main">

    <div class="location-search-list">

        <form action="{current_url}" method="post" class="form-blue" name="city_available">
            <input type="search" class="search-term" name="{search_field_name}" title="Search Term" value="{searchTerm}" placeholder="<f:translate key='locations.search.placeholder' />" />
            <input type="submit" class="button-blue" value="<f:translate key='search' />"/>
        </form>
        <br />
        <p><f:link.page pageUid="62" class="underlined listlink"><f:translate key="locations.search.showAll" /></f:link.page></p>

        <f:if condition="{city} && {searchTerm}">
            <f:then>

                <f:if condition="{showServiceOptions}">
                    <h3 class="search-results-header">{location.zip} {location.city}:</h3>
                    <f:render partial="AvailableServiceOptions" arguments="{location: city}" />
                </f:if>

                <div class="search-results">
                    <div class="header clearfix">
                        <h3 class="pull-left">
                            <f:if condition="{location.extraCity}">
                                <f:then>
                                    <f:translate key='locations.search.resultTitle' arguments="{0: '{location.extraCity}'}"/>
                                </f:then>
                                <f:else>
                                    <f:translate key='locations.search.resultTitle' arguments="{0: '{location.city}'}"/>
                                </f:else>
                            </f:if>
                        </h3>
						
                    </div>

                    <div class="location-search-result">
                        <div class="service-location">
                            <div class="row">
                                <div class="header clearfix">
                                    <div class="location-info col-sm-6">
                                        <div class="logo">
                                        <f:if condition="{location.logo}">
                                            <f:image src="{location.logo.0.originalResource.publicUrl}"></f:image>
                                        </f:if>
                                        </div>
                                        <div class="text">
                                            <h5>{location.title}</h5>
                                            <p>
                                                {location.address}, {location.zip} {location.city} <br/>
                                                {location.telephone} <br/>
                                                <f:if condition="{location.email}">
                                                    <a href="mailto:{location.email}">{location.email}</a><br />
                                                </f:if>
                                                <a href="http://{location.website}" target="_blank">{location.website}</a>
                                            </p>
                                        </div>
                                    </div>

                                    <f:alias map="{person: location.contactPerson.0}">
                                        <div class="contact-person col-sm-6">
                                        	<f:if condition="{person.image}">
                                            	<f:image src="{person.image.0.originalResource.publicUrl}" height="80" />
                                            </f:if>
                                            <div class="text">
                                                <h5>{person.firstname} {person.lastname}</h5>
                                                <f:if condition="{person.position}">
                                                    {person.position} <br/>
                                                </f:if>
                                                <f:if condition="{person.email}">
                                                    <a href="mailto:{person.email}">{person.email}</a><br/>
                                                </f:if>
                                                {person.telephone}
                                            </div>
                                        </div>
                                    </f:alias>
                                </div>
                            </div>
                            <div class="row content">
                                <div class="col-sm-6">
                                    <div class="description">
                                        <f:format.html>{location.description}</f:format.html>
                                    </div>
                                </div>
                                <div class="map col-sm-6">
                                    <div id="service-location-map" class="google-map" data-lat="{location.lat}" data-lng="{location.lng}" data-adr="{location.address}, {location.zip} {location.city}" ></div>
                                </div>
                                 <script src="https://maps.google.com/maps/api/js?key=AIzaSyDt_ohx26DuJoNZX02XwpjpK554BKUfaiQ&callback=initMap"  async defer></script>
                                   <script>
								   
								   
						
						var lat = [];	
						var lng = [];	   
                        var maps = [];
					
						
                        function initMap() {
							
							//localStorage.removeItem('lat');
							
                 
								
								
								var geocoder = new google.maps.Geocoder();
								var address = $('#service-location-map').data('adr');
								console.log(address);
								geocoder.geocode( { 'address': address}, function(results, status) {
								  if (status == google.maps.GeocoderStatus.OK) {
										result = {
											lat: results[0].geometry.location.lat(),
											lng: results[0].geometry.location.lng()
										};
										
										localStorage.removeItem('lat');
										localStorage.removeItem('lng');	
										localStorage.setItem('lat', result.lat);
										localStorage.setItem('lng', result.lng);
										lat = result.lat;
										lng = result.lng;
										console.log(lat+'test4');
										
										console.log(result.lat+'test');
										console.log(result.lng+'test');
									}
									
									
									 var options = {
									center: new google.maps.LatLng(lat, lng),
                                    //center: {lat: lat, lng: lng},
                                    zoom: 12,
                                    disableDefaultUI: true,
                                };
								
								
								

								
                                var id = $('#service-location-map').attr('id');

                                var map = new google.maps.Map(document.getElementById(id), options);
                                maps.push(maps);
								
							
								
								var image = {
								url: 'fileadmin/templates/images/Icon_Location.png',
								scaledSize: new google.maps.Size(20, 29), // scaled size
								origin: new google.maps.Point(0,0), // origin
								anchor: new google.maps.Point(0, 0) // anchor
								}
								
								var var_marker = new google.maps.Marker({
								  position: new google.maps.LatLng(lat, lng),
								  map: map,
								icon: image,
								  title:"",
											  maxWidth: 100
									  });
								
									
								});

					
                               
                         
										 
						 
                        }
						
				
						

                    </script>
                                
                                
                                
                                

                     
                               

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div id="simpleServiceLocations" class="simple-service-locations panel-group" role="tablist" aria-multiselectable="true">
                                    <h3><f:translate key='locations.search.nearbyServiceLocations' /></h3>

                                    <f:for each="{serviceLocations}" as="serviceLocation" iteration="i">
                                        <div class="panel panel-service-location">
                                            <div class="panel-heading" role="tab" id="heading-{i.cycle}">
                                                <h4 class="panel-title">
                                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#simpleServiceLocations"
                                                       href="#collapse-{i.cycle}" aria-expanded="true" aria-controls="collapse-{i.cycle}">
                                                        <span class="title">{serviceLocation.title}</span>
                                                        <span class="dienste">
                                                            <span class="leistung">Beratung</span>
                                                            <span class="leistung">Anmeldung</span>
                                                            <f:if condition="{serviceLocation.changemodem}">
                                                            <span class="leistung">Modem-Austausch</span>
                                                            </f:if>
                                                        </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse-{i.cycle}" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="heading-{i.cycle}">
                                                <div class="panel-body">
                                                    <f:format.html>{serviceLocation.description}</f:format.html>
                                                </div>
                                            </div>
                                        </div>

                                    </f:for>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{cityArray}">
                    <f:then>
                        <f:render partial="SelectCity" arguments="{_all}" />
                    </f:then>
                    <f:else>
                        <f:if condition="{searchTerm}">
                            <div class="no-results">
                                <h3><f:translate key='locations.search.noResult' arguments="{0: '{searchTerm}'}"/></h3>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </div>

</f:section>