<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="hoverbox" options="{group: 'FCE'}">
			<flux:field.inline.fal name="image" label="Background image" maxItems="1" minItems="1" required="true"/>
			<flux:field.input name="headline" label="Headline"/>
			<flux:field.input name="url" label="Link" required="true"><flux:wizard.link/></flux:field.input>
			<flux:field.text name="text" label="Text" required="true" enableRichText="1" />
			<flux:field.input name="buttonText" label="Text of the button"/>
			<flux:field.select name="icon" label="Icon"
							   items="{none: 'None',
										   icon-rsag-clear-student-ticket:'Student ticket',
										   icon-rsag-clear-monthly-ticket-family:'Monthly ticket Family',
										   icon-rsag-clear-monthly-ticket-bike:'Monthly Ticket Bike',
										   icon-rsag-clear-monthly-ticket-plus:'Monthly Ticket Plus',
										   icon-rsag-clear-mobil-60:'Mobile 60',
										   icon-rsag-clear-mobil-60-bike:'Mobile 60 Bike',
										   icon-rsag-clear-semester-ticket:'Semester Ticket',
										   icon-rsag-clear-job-ticket:'Job Ticket'
										   }"
							   default="none" size="1" maxItems="1"/>

			<flux:field.select name="desktop-width" label="Select the with of the element relative to its container on desktop"
							   items="{
									col-md-12: '12 / 12',
									col-md-11: '11 / 12',
									col-md-10: '10 / 12',
									col-md-9: '9 / 12',
									col-md-8: '8 / 12',
									col-md-7: '7 / 12',
									col-md-6: '6 / 12',
									col-md-5: '5 / 12',
									col-md-4: '4 / 12',
									col-md-3: '3 / 12',
									col-md-2: '2 / 12',
									col-md-1: '1 / 12'}"
							   default="col-md-12" size="1" maxItems="1"/>
			<flux:field.select name="tablet-width" label="Select the with of the element relative to its container on Tablet"
							   items="{
									col-sm-12: '12 / 12',
									col-sm-11: '11 / 12',
									col-sm-10: '10 / 12',
									col-sm-9: '9 / 12',
									col-sm-8: '8 / 12',
									col-sm-7: '7 / 12',
									col-sm-6: '6 / 12',
									col-sm-5: '5 / 12',
									col-sm-4: '4 / 12',
									col-sm-3: '3 / 12',
									col-sm-2: '2 / 12',
									col-sm-1: '1 / 12'}"
							   default="col-sm-12" size="1" maxItems="1"/>
			<flux:field.select name="mobile-width" label="Select the with of the element relative to its container on Mobile"
							   items="{
									col-xs-12: '12 / 12',
									col-xs-11: '11 / 12',
									col-xs-10: '10 / 12',
									col-xs-9: '9 / 12',
									col-xs-8: '8 / 12',
									col-xs-7: '7 / 12',
									col-xs-6: '6 / 12',
									col-xs-5: '5 / 12',
									col-xs-4: '4 / 12',
									col-xs-3: '3 / 12',
									col-xs-2: '2 / 12',
									col-xs-1: '1 / 12'}"
							   default="col-xs-12" size="1" maxItems="1"/>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Hover Box</b>
		<h5>{headline}</h5>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field: 'image') -> v:iterator.first() -> v:variable.set(name:
		'backgroundImage')}
		<div class="{desktop-width} {tablet-width} {mobile-width}">
			<div class="service-box">
				<div class="service-icon ">
					<div class="front-content">
						<a href="#"><f:image src="{v:format.url.decode(content: backgroundImage.url)}" alt="" /></a>
						<h3><a href="{link.url}">{headline}</a></h3>
					</div>
				</div>
				<div class="service-content">
					<h3><a href="{link.url}">{headline}</a></h3>
					<f:format.html>{text}</f:format.html>
					<button class="btn btn-default">{buttonText}</button>
				</div>
			</div>
		</div>
	</f:section>
</div>
