<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="linkWithTextblock" options="{group: 'FCE'}">
            <flux:field.input name="titlelink" label="Title Link" required="true"/>
            <flux:field.select name="icon" label="Icon"
                               items="{download:'Download', simple-link:'Simple link'}"
                               default="simple-link"/>
            <flux:field.input name="link" label="Link" required="true">
                <flux:wizard.link/>
            </flux:field.input>
            <flux:field.text name="text" label="Text" />
            <flux:field.select name="desktop-width" label="Select the with of the element relative to its container on desktop"
                               items="{
									col-md-12: '12 / 12',
									col-md-11: '11 / 12',
									col-md-10: '10 / 12',
									col-md-9: '9 / 12',
									col-md-8: '8 / 12',
									col-md-7: '7 / 12',
									col-md-6: '6 / 12',
									col-md-5: '5 / 12',
									col-md-4: '4 / 12',
									col-md-3: '3 / 12',
									col-md-2: '2 / 12',
									col-md-1: '1 / 12'}"
                               default="col-md-12" size="1" maxItems="1"/>
            <flux:field.select name="tablet-width" label="Select the with of the element relative to its container on Tablet"
                               items="{
									col-sm-12: '12 / 12',
									col-sm-11: '11 / 12',
									col-sm-10: '10 / 12',
									col-sm-9: '9 / 12',
									col-sm-8: '8 / 12',
									col-sm-7: '7 / 12',
									col-sm-6: '6 / 12',
									col-sm-5: '5 / 12',
									col-sm-4: '4 / 12',
									col-sm-3: '3 / 12',
									col-sm-2: '2 / 12',
									col-sm-1: '1 / 12'}"
                               default="col-sm-12" size="1" maxItems="1"/>
            <flux:field.select name="mobile-width" label="Select the with of the element relative to its container on Mobile"
                               items="{
									col-xs-12: '12 / 12',
									col-xs-11: '11 / 12',
									col-xs-10: '10 / 12',
									col-xs-9: '9 / 12',
									col-xs-8: '8 / 12',
									col-xs-7: '7 / 12',
									col-xs-6: '6 / 12',
									col-xs-5: '5 / 12',
									col-xs-4: '4 / 12',
									col-xs-3: '3 / 12',
									col-xs-2: '2 / 12',
									col-xs-1: '1 / 12'}"
                               default="col-xs-12" size="1" maxItems="1"/>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Link with text block</strong><br/>
        {titlelink}
    </f:section>

    <f:section name="Main">

        <div class="col-sm-offset-1 {desktop-width} {tablet-width} {mobile-width}">
            <f:if condition="{icon} == 'download'">
                <f:then>
                    <v:variable.set name="classes" value="icon-rsag-round-download"/>
                    <v:variable.set name="classe-container" value="link-download"/>
                </f:then>
                <f:else>
                    <v:variable.set name="classes" value="icon-rsag-round-arrow-1-right pull-left margin-right10"/>
                </f:else>
            </f:if>
            <f:if condition="{link-> v:math.round()} > 0">
                <f:then>
                    <v:variable.set name="url" value="{f:uri.page(pageUid: '{link}', absolute: '1')}" />
                </f:then>
                <f:else>
                    <v:variable.set name="url" value="{f:uri.typolink(parameter: '{link}')}" />
                </f:else>
            </f:if>
            <f:if condition="{icon} == 'download'">
               <f:then>
                   <p class="text-center bilder-text-download margin-top-20">
                       <a href="{url}" class="{classe-container}">
                           <i class="icon icon-rsag-round-download "></i>
                            <span>{titlelink}</span>
                       </a>
                   </p>
               </f:then>
                <f:else>
                    <div class="form-fields margin-bottom-60">
                        <a href="{url}" class="registerbutton col-md-12 col-lg-12 no-padding-left-right">
                            <div class="icon {classes}"></div>
                               {titlelink}
                        </a>
                    </div>
                </f:else>
            </f:if>
            <f:if condition="{text}">
                <f:then>
                    <p class="abokarten-description">
                        {text}
                    </p>
                </f:then>
            </f:if>
            <!--	<div class=" col-sm-12 padding-left-right-7-5 form-fields {f:if(condition: '{icon} == \'simple-link\'', then: 'margin-bottom-60')}"> -->
        </div>

</f:section>
</div>
