<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="readmoreblock" options="{group: 'FCE'}">

            <flux:form.sheet name="header" label="Header">
                <flux:field.file name="image" label="image" allowed="jpg,png,svg" maxItems="1" minItems="0"
                                 useFalRelation="1"/>
                <flux:field.input name="title" label="Title" required="true"/>
                <flux:field.input name="description" label="Description" required="true"/>
                <flux:field.checkbox name="collapsible" label="Active" default="0"/>
            </flux:form.sheet>

            <flux:form.sheet name="place" label="Place">
                <flux:field.input name="plac" label="Place" required="true"/>
            </flux:form.sheet>

            <flux:form.sheet name="time" label="Times">
                <flux:form.section name="times">
                    <flux:form.object name="timelink" label="Add new time">
                        <flux:field.input name="days" label="Days" required="true"/>
                        <flux:field.input name="from" label="From" eval="time" required="true"/>
                        <flux:field.input name="to" label="To" eval="time" required="true"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>

            <flux:form.sheet name="tram" label="Trams">
                <flux:field.input name="tramdesc" label="Description"/>
                <flux:form.section name="trams">
                    <flux:form.object name="tramlink" label="Add new tram">
                        <flux:field.input name="tramtitle" label="Num" required="true"/>
                        <flux:field.select name="color" items="{
                        bloc-number-violet: 'Violet',
                        bloc-number-orange: 'Orange',
                        bloc-number-deep-red: 'Red',
                        bloc-number-pink: 'Pink',
                        bloc-number-yellow: 'Yellow'
}" label="Color"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>

            <flux:form.sheet name="bus" label="Bus">
                <flux:field.input name="busdesc" label="Description"/>
                <flux:form.section name="bus2">
                    <flux:form.object name="buslink" label="Add new bus">
                        <flux:field.input name="busnum" label="Num" required="true"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>


        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Read more block</strong><br/>
        {titlelink}
    </f:section>

    <f:section name="Main">


        <div class="col-xs-12 margin-top-15 no-paddingxs-left-right no-padding-left-right">
            <div class="bloc-image">
                <f:if condition="{image}!=''">
                    <f:then>
                        <img src="{f:uri.image(src: '{image}')}">
                    </f:then>
                </f:if>
                <!--<img src="images/kundenzentrum_hauptbahnhof.png" alt="">-->
            </div>
            <div class="col-xs-12 bloc-description">
                <h3 class="fledermausnacht">
                    {title}
                </h3>
                <p class="text-description">
                    {description}
                </p>
                <!--location-->

                <f:if condition="{plac}!=''">
                    <f:then>
                        <div class="col-xs-12 no-padding-left-right margin-top-15 ">
                            <div class="col-xs-2 no-padding-left-right">
                                <div class="icon icon-rsag-round-location icon-kund"></div>
                            </div>
                            <div class="col-xs-10">
                                <p class="text-description">
                                    {plac}
                                </p>
                            </div>
                        </div><!--/location-->
                    </f:then>
                </f:if>

 
                <f:if condition="{settings.times -> f:count()}>0">
                    <f:then>
                        <div class="col-xs-12 no-padding-left-right margin-top-15 ">
                            <div class="col-xs-2 no-padding-left-right">
                                <div class="icon icon-rsag-round-time icon-kund"></div>
                            </div>
                            <div class="col-xs-10">
                                <f:for each="{settings.times}" as="element" iteration="i">
                                    <p class="text-description">
                                        <b>{element.timelink.days}</b><br>
                                       {element.timelink.from -> f:format.date(format: 'H:i')}
                                        bis
                                        {element.timelink.to -> f:format.date(format: 'H:i')}
                                        Uhr
                                    </p>
                                </f:for>
                            </div>
                        </div><!-- /time-->
                    </f:then>
                </f:if>
                <f:if condition="{settings.trams -> f:count()}>0">
                    <f:then>
                        <div class="col-xs-12 no-padding-left-right margin-top-15 ">
                            <div class="col-xs-2 no-padding-left-right">
                                <div class="bloc-word-tram">
                                    Tram
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="d-box">
                                    <f:for each="{settings.trams}" as="element" iteration="i">
                                        <div class="{element.tramlink.color}">{element.tramlink.tramtitle}</div>
                                    </f:for>
                                </div>
                                <p class="text-description">
                                    {tramdesc}
                                </p>
                            </div>
                        </div>
                    </f:then>
                </f:if>


                <f:if condition="{settings.bus2 -> f:count()}>0">
                    <f:then>
                        <div class="col-xs-12 no-padding-left-right margin-top-30 ">
                            <div class="col-xs-2 no-padding-left-right">
                                <div class="bloc-word-bus">
                                    BUS
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="d-box">
                                    <f:for each="{settings.bus2}" as="element" iteration="i">
                                        <div class="bloc-number-bleu">{element.buslink.busnum}</div>
                                    </f:for>
                                </div>

                                <p class="text-description">
                                    {busdesc}
                                </p>
                            </div>
                        </div>
                    </f:then>
                </f:if>
                <div class="col-xs-12 line margin-top-20 "></div>
                <div class="col-xs-12 margin-top-20 margin-bottom-15 no-padding-left-right">
                    <div class="col-xs-1 no-padding-left-right">
                        <div class="icon icon-rsag-round-arrow-1-{f:if(condition:collapsible,then:'right',else:'top')}"></div>
                    </div>
                    <a class="col-xs-10 no-padding-left-right mehr-infos {f:if(condition:collapsible,then:'',else:'opened')}">
                        {f:if(condition:collapsible,then:'Mehr Informationen',else:'Weniger Informationen')}
                    </a>
                </div>
            </div>
        </div>


    </f:section>
</div>
