<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="tabscontainer" options="{group: 'FCE'}">
			<flux:form.sheet name="tabs" label="Tabs">
				<flux:form.section name="tabs">
					<flux:form.object name="tab" label="Tab-Element">
						<flux:field.input name="title" label="Title" required="true"/>
						<flux:field.input name="class" label="Class"/>
						<flux:field.checkbox name="active" label="Active"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:grid>
				<f:if condition="{tabs}">
					<v:condition.type.isArray value="{tabs}">
						<f:for each="{tabs}" as="tab" iteration="iteration">
							<flux:grid.row>
								<flux:grid.column name="content.{iteration.index}" label="Content of Tab: {tab.tab.title}"/>
							</flux:grid.row>
						</f:for>

					</v:condition.type.isArray>
				</f:if>


			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<b>Tabs</b>
		<ul>
			<f:for each="{tabs}" as="tab" iteration="iteration">
				<li>
					<strong>Tab:</strong> {tab.tab.title}
				</li>
			</f:for>
		</ul>
	</f:section>

	<f:section name="Main">
		<f:if condition="{tabs -> f:count()} == 1">
			<v:variable.set name="classli" value="col-xs-12"/>
		</f:if>
		<f:if condition="{tabs -> f:count()} == 2">
			<v:variable.set name="classli" value="col-xs-6"/>
		</f:if>
		<f:if condition="{tabs -> f:count()} == 3">
			<v:variable.set name="classli" value="col-xs-4"/>
		</f:if>

		<f:if condition="{tabs -> f:count()} == 4">
			<v:variable.set name="classli" value="col-xs-3"/>
		</f:if>
		<f:if condition="{tabs -> f:count()} > 4">
			<v:variable.set name="classli" value="col-xs-2"/>
		</f:if>
		<v:variable.set name="activeTabIndex" value="0"/>
		<f:if condition="{tabs}">
			<f:for each="{tabs}" as="tab" iteration="iteration">
				<f:if condition="{tab.tab.active}">
					<v:variable.set name="activeTabIndex" value="{iteration.index}"/>
				</f:if>
			</f:for>
		</f:if>
		<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-paddingxs-left-right tabs-links">
			<div class="container ">
				<div class="row navigationtabs">
					<ul class="menu-tabs nav nav-tabs">
						<f:for each="{tabs}" as="tab" iteration="iteration">
							<li class="{f:if(condition: '{activeTabIndex} == {iteration.index}', then: 'active')} {f:if(condition: tab.tab.class, then: 'tab-{tab.tab.class}')} {classli} no-paddingxs-left-right">
								<a data-toggle="tab" href="#tab-{record.uid}-{iteration.index}"><f:format.raw>{tab.tab.title}</f:format.raw></a>
							</li>
						</f:for>
						<li class=" {classli} no-paddingxs-left-right"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tab-content verganst">
			<f:for each="{tabs}" as="tab" iteration="iteration">
				<div id="tab-{record.uid}-{iteration.index}" class="tab-pane fade {f:if(condition: '{activeTabIndex} == {iteration.index}', then: 'active in')} margin-bottom-60 margin-top-15 margin-top-xs-0">
					<flux:content.render area="content.{iteration.index}"/>
				</div>
			</f:for>
		</div>

	</f:section>
</div>
