<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="timeblox" options="{group: 'FCE'}">
            <flux:form.sheet name="elements" label="TimeLine boxes">
                <flux:form.section name="elements">
                    <flux:form.object name="box" label="Box">
                        <flux:field.input name="specialdate" label="Date" eval="date" required="true" />
                        <flux:field.input name="headline" label="Headline" required="true" />
                        <flux:field.text name="text" label="info" enableRichText="1" />
                        <flux:field.file name="image" label="image" allowed="jpg,png,svg" required="true" showThumbnails="1" maxItems="1" minItems="0" useFalRelation="1"  />
                        <flux:field.input name="caption" label="caption"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Timeline Boxes</strong>
    </f:section>

    <f:section name="Main">

        <v:variable.set name="elementsArray" value="{0:''}"/>
        <v:variable.set name="tmpArray" value="{specialdate:''}"/>
        <f:for each="{elements}" as="element" iteration="iteration">
            <v:variable.set name="tmpArray.specialdate" value="{element.box.specialdate}"/>
            <v:variable.set name="tmpArray.year" value="{element.box.specialdate -> f:format.date(format: 'Y')}"/>
            <v:variable.set name="tmpArray.headline" value="{element.box.headline}"/>
            <v:variable.set name="tmpArray.text" value="{element.box.text}"/>
            <v:variable.set name="tmpArray.image" value="{element.box.image}"/>
            <v:variable.set name="tmpArray.caption" value="{element.box.caption}"/>
            <v:variable.set name="elementsArray.{iteration.index}" value="{tmpArray}"/>
        </f:for>

        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-paddingxs-left-right blocyear">
            <div class="container ">
                <div class="timeline-key-dates">
                    <div class="item">
                        <a href="#1881"> 1881</a>
                    </div>
                    <div class="item">
                        <a href="#1945">1945</a>
                    </div>
                    <div class="item">
                        <a href="#1990">1990</a>
                    </div>
                    <div class="item">
                        <a href="#2000">2000</a>
                    </div>
                    <div class="item">
                        <a href="#2010">2010</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-paddingxs-left-right">
            <div class="container ">
                <section class="cd-horizontal-timeline">
                    <div class="owl-carousel timeline">
                        <ol data-hash="1881">
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:if condition="{year} > 1880">
                                    <f:then>
                                        <f:if condition="{year} < 1945">
                                            <f:then>
                                                <li><a href="#0" data-date="{year}"><p>{year}</p></a></li>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                </f:if>
                            </f:groupedFor>
                        </ol>
                        <ol data-hash="1945">
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:if condition="{year} > 1944">
                                    <f:then>
                                        <f:if condition="{year} < 1990">
                                            <f:then>
                                                <li><a href="#0" data-date="{year}"><p>{year}</p></a></li>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                </f:if>
                            </f:groupedFor>
                        </ol>
                        <ol data-hash="1990">
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:if condition="{year} > 1989">
                                    <f:then>
                                        <f:if condition="{year} < 2000">
                                            <f:then>
                                                <li><a href="#0" data-date="{year}"><p>{year}</p></a></li>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                </f:if>
                            </f:groupedFor>
                        </ol>
                        <ol data-hash="2000">
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:if condition="{year} > 1999">
                                    <f:then>
                                        <f:if condition="{year} < 2010">
                                            <f:then>
                                                <li><a href="#0" data-date="{year}"><p>{year}</p></a></li>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                </f:if>
                            </f:groupedFor>
                        </ol>
                        <ol data-hash="2010">
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:if condition="{year} > 2010">
                                    <li><a href="#0" data-date="{year}"><p>{year}</p></a></li>
                                </f:if>
                            </f:groupedFor>
                        </ol>
                    </div>

                    <div class="events-content">
                        <ol>
                            <f:groupedFor each="{elementsArray}" as="groupedElements" groupBy="year" groupKey="year">
                                <f:for each="{groupedElements}" as="el">
                                    <li data-date="{el.specialdate -> f:format.date(format: 'Y')}">
                                        <div class="caption-events no-padding-left-right col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="bluebloc">
                                                <div class="rectangle">
                                                    <p class="day">{el.specialdate -> f:format.date(format: 'd')}</p>
                                                    <p class="month_year">{el.specialdate -> f:format.date(format: 'm')}|{el.specialdate -> f:format.date(format: '%y')}</p>
                                                </div>
                                                <h2>{el.headline}</h2>
                                                <f:format.raw>{el.text}</f:format.raw>
                                            </div>
                                            <f:image src="{el.image}"/>
                                            <h3> {el.caption}</h3>
                                        </div>
                                    </li>
                                </f:for>
                            </f:groupedFor>
                        </ol>
                    </div>
                </section>
            </div>
        </div>

    </f:section>
</div>
