<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Breadcrumb">
        <div class="breadcrumb">
        <v:page.breadCrumb as="rootlinePages" pageUid="{page.uid}" showHiddenInMenu="1" entryLevel="1">
            <f:if condition="{rootlinePages}">
                <div class="container">
                    <div class="icon icon-rsag-round-arrow-1-right pull-left "></div>
                    <ul>
                        <f:for each="{rootlinePages}" as="rootlinePage" iteration="iteration">
                            <f:if condition="{rootlinePage.current}">
                                <f:then>
                                    <li class="active{f:if(condition: useBreadcrumbLabel, then: ' first-breadcrumb-item')}">
                                        <f:if condition="{rootlinePage.nav_title}">
                                            <f:then>{rootlinePage.nav_title}</f:then>
                                            <f:else>{rootlinePage.title}</f:else>
                                        </f:if>
                                    </li>
                                </f:then>
                                <f:else>
                                    <li {f:if(condition: useBreadcrumbLabel, then:
                                    'class="first-breadcrumb-item"')}>
                                    <a href="{rootlinePage.link}">
                                        <f:if condition="{rootlinePage.nav_title}">
                                            <f:then>{rootlinePage.nav_title}</f:then>
                                            <f:else>{rootlinePage.title}</f:else>
                                        </f:if>
                                    </a>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </v:page.breadCrumb>
        </div>
    </f:section>

</div>
