<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="FooterNewsletters">
        <div class="col-md-3 col-sm-12 newsletter-box">
            <h3>
                <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                <a>Newsletter</a>
            </h3>
            <form>
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-4 no-padding-left-right ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            RSAG
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-4 no-padding-left-right ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Elros Pedelec
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-4 no-padding-left-right ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            RSAG Speiseplan
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6 no-padding-left-right">
                    <input type="text" class="form-control " placeholder="Anrede">
                </div>
                <div class="col-xs-12 col-md-7 col-lg-7 col-sm-6 no-padding-left-right pull-right">
                    <input type="text" class="form-control" placeholder="Vorname, Nachname">
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-6 no-padding-left-right ">
                    <input type="email" class="form-control" placeholder="E-Mail Adresse">
                </div>
                <button class="btn btn-default">absenden</button>
            </form>
        </div>
    </f:section>
</div>