<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Footer">
        <!-- Footer -->
        <footer>
            <div class="blocfooter ">
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
                    <div class="container no-padding-left-right">
                        <div class="col-xs-12 col-md-3 col-lg-3 col-sm-6 mainlink">
                            <div>
                                <h3>
                                    <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                                    <a>Aktuell</a>
                                </h3>
                                <ul>
                                    <li><a>Newsroom</a></li>
                                    <li><a>Verkehrsmeldungen</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="margin-top-60 margin-top-xs-30">
                                    <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                                    <a>RSAG Kantine</a>
                                </h3>
                                <ul>
                                    <li><a>Speiseplan</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3 col-sm-6 ">
                            <h3>
                                <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                                <a>Unternehmen</a>
                            </h3>
                            <ul>
                                <li><a>Presse</a></li>
                                <li><a>Karriere</a></li>
                                <li><a>Mitarbeiter-Zugang</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3 col-sm-6 ">
                            <h3>
                                <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                                <a>Service</a>
                            </h3>
                            <ul>
                                <li><a href="downloads.php">Downloads</a></li>
                                <li><a href="kundenzentren.php">Kundenzentren</a></li>
                                <li><a href="mediztheklogin.php">Abo Login</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3 col-sm-12 ">
                            <h3>
                                <div class="pull-left hide-desktop margin-right10 icon" data-icon="d"></div>
                                <a>Newsletter</a>
                            </h3>
                            <form>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-4 no-padding-left-right ">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            RSAG
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-4 no-padding-left-right ">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Elros Pedelec
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-4 no-padding-left-right ">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            RSAG Speiseplan
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6 no-padding-left-right">
                                    <input type="text" class="form-control " placeholder="Anrede">
                                </div>
                                <div class="col-xs-12 col-md-7 col-lg-7 col-sm-6 no-padding-left-right pull-right">
                                    <input type="text" class="form-control" placeholder="Vorname, Nachname">
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-6 no-padding-left-right ">
                                    <input type="email" class="form-control" placeholder="E-Mail Adresse">
                                </div>
                                <button class="btn btn-default">absenden</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondfooter">
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
                    <div class="container no-padding-left-right">
                        <div class="col-xs-6 col-md-3 col-lg-3 col-sm-3">
                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/footerlogo.png"/>
                        </div>
                        <div class="col-sm-5 col-md-4 col-lg-3 sociaux hidden-xs">
                            <ul>
                                <li>
                                    <a><span class="fa fa-facebook"></span></a>
                                </li>
                                <li>
                                    <a><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a><span class="fa fa-youtube-play"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-offset-2 col-lg-offset-3 col-xs-6 col-md-3 col-lg-3 col-sm-4 ">
                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/wirfahren.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
                    <div class="container">
                        <a>AGB </a>| <a>Datenschutz </a>|<a> Impressum</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- /Footer -->

    </f:section>
</div>