<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Slider">
        <!-- Slider -->
        <div id="myCarousel" class="carousel slide hidemobile" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <v:content.render column="1"/>
            </div><!-- /Wrapper for slides -->
        </div><!-- /Slider -->
    </f:section>
</div>