<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Slider">
        <!-- Slider -->
        <div id="myCarousel" class="carousel slide hidemobile" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="item-shadow"></div>
                    <img src="typo3conf/ext/rsag_theme/Resources/Public/images/2016-06-22_Rostock Innenstadt_M-Wild Gerberbruch.png" alt="">
                    <div class="carousel-caption-blue bottom-left carousel-caption ">
                        <h3>Hier steht <br> ein Statement</h3>
                    </div>
                </div>
            </div><!-- /Wrapper for slides -->
        </div><!-- /Slider -->
    </f:section>
</div>