<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Tabs">
            <!-- Modal: Erweiterte Optionen  -->
            <div class="modal fade option-model" id="erweiterteOptionen" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header calender-head">
                            <span class="fa fa-times-circle fa-6 pull-right close" data-dismiss="modal"></span>
                            <h4 class="modal-title">Erweiterte Optionen</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-xs-12">
                                <div class="col-xs-12 text-center reset resetoption">
                                    zurücksetzen
                                </div>
                                <div class="col-xs-12 no-padding-left-right padding-top-10">
                                <span class="left-text">
                                    Nur Direktverbindungen
                                </span>
                                    <label class="switch pull-right">
                                        <input type="checkbox" checked class="checkoptionen" data-name="Nur Direktverbindungen">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-xs-12 no-padding-left-right padding-top-10">
                                <span class="left-text">
                                    Mobilitätseinschränkungen
                                </span>
                                    <label class="switch pull-right">
                                        <input type="checkbox" class="checkoptionen" data-name="Mobilitätseinschränkungen">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-xs-12 no-padding-left-right padding-top-10">
                                <span class="left-text">
                                    Fahrradmitnahme
                                </span>
                                    <label class="switch pull-right">
                                        <input type="checkbox" checked class="checkoptionen" data-name="Fahrradmitnahme">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-xs-12 no-padding-left-right padding-top-10">
                                <span class="left-text col-sm-6 col-xs-6 no-padding-left-right">
                                    Umsteigehäufigkeit
                                </span>
                                    <div class="col-sm-6 col-xs-6 no-padding-left-right ">
                                        <select class="pull-right select-style" name="unbegrenzt" id="unbegrenzt"
                                                data-name="Umsteigehäufigkeit">
                                            <option value="0">unbegrenzt</option>
                                            <option value="1">1 Umstieg</option>
                                            <option value="2">2 Umstiege</option>
                                            <option value="3">3 Umstiege</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding-left-right padding-top-10">
                                <span class="left-text col-sm-6 col-xs-6 no-padding-left-right">
                                    Umsteigezeit
                                </span>
                                    <div class="col-sm-6 col-xs-6 no-padding-left-right ">
                                        <select class="pull-right select-style" name="normal" id="normal" data-name="Umsteigezeit">
                                            <option value="0">normal</option>
                                            <option value="1">mindestens 10 Minuten</option>
                                            <option value="2">mindestens 20 Minuten</option>
                                            <option value="3">mindestens 30 Minuten</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer calender-footer confirmoption " data-dismiss="modal">
                            <div class="text-center text-uppercase">
                                bestätigen
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /Modal: Erweiterte Optionen -->

            <!-- Modal: Anfragen -->
            <div class="modal fade option-model" id="anfragen" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header calender-head">
                            <span class="fa fa-times-circle fa-6 pull-right close" data-dismiss="modal"></span>
                            <h4 class="modal-title">Ihre letzten Anfragen</h4>
                        </div>
                        <div class="modal-body row modal-tabs">
                            <!-- Tabs -->
                            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right no-paddingxs-left-right">
                                <div class=" ">
                                    <div class=" navigationtabs">
                                        <ul class="menu-tabs nav nav-tabs">
                                            <li class="active col-xs-6 no-paddingxs-left-right">
                                                <a data-toggle="tab" href="#verbindungen">Verbindungen</a>
                                            </li>
                                            <li class=" col-xs-6 no-paddingxs-left-right">
                                                <a data-toggle="tab" href="#orte">Orte</a>
                                            </li>
                                            <li class=" col-xs-6 no-paddingxs-left-right"></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right">

                                    <div class=" tab-content">
                                        <!-- tab 1 : verbindungen-->
                                        <div id="verbindungen" class="tab-pane active fade in ">
                                            <!-- line 1 -->
                                            <div class="col-xs-12 no-padding-left-right margin-top-15">
                                                <div class="col-xs-8">
                                                    <div class="col-xs-1 no-padding-left-right points-img">
                                                        <div style="display: grid;">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/greyppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/lineppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/blueppt.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-11 no-padding-left-right points-txt">
                                                        <p style="margin-bottom: 0">Rostock, Neuer Markt</p>
                                                        <p>Warnemünde Werft</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <img src="typo3conf/ext/rsag_theme/Resources/Public/images/star.png" alt="Star" class="pionts-star">
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="icon icon-rsag-round-arrow-1-right"></div>
                                                </div>
                                                <hr class="points-line"/>
                                            </div><!-- /line 1 -->

                                            <!-- line 2 -->
                                            <div class="col-xs-12 no-padding-left-right margin-top-15">
                                                <div class="col-xs-8">
                                                    <div class="col-xs-1 no-padding-left-right points-img">
                                                        <div style="display: grid;">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/greyppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/lineppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/blueppt.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-11 no-padding-left-right points-txt">
                                                        <p style="margin-bottom: 0">Rostock, Neuer Markt</p>
                                                        <p>Warnemünde Werft</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <img src="typo3conf/ext/rsag_theme/Resources/Public/images/star.png" alt="Star" class="pionts-star">
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="icon icon-rsag-round-arrow-1-right"></div>
                                                </div>
                                                <hr class="points-line"/>
                                            </div><!-- /line 2 -->

                                            <!-- line 3 -->
                                            <div class="col-xs-12 no-padding-left-right margin-top-15">
                                                <div class="col-xs-8">
                                                    <div class="col-xs-1 no-padding-left-right points-img">
                                                        <div style="display: grid;">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/greyppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/lineppt.png" alt="">
                                                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/blueppt.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-11 no-padding-left-right points-txt">
                                                        <p style="margin-bottom: 0">Rostock, Neuer Markt</p>
                                                        <p>Warnemünde Werft</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <img src="typo3conf/ext/rsag_theme/Resources/Public/images/star.png" alt="Star" class="pionts-star">
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="icon icon-rsag-round-arrow-1-right"></div>
                                                </div>
                                                <hr class="points-line"/>
                                            </div><!-- /line 3 -->

                                        </div><!-- /tab 1 : verbindungen-->
                                        <!-- tab 2 : orte-->
                                        <div id="orte" class="tab-pane fade margin-top-15 ">

                                        </div><!-- /tab 2 : orte-->
                                    </div>
                                </div>
                            </div>
                            <!-- Tabs -->
                        </div>
                        <div class="modal-footer calender-footer " data-dismiss="modal">
                            <div class="text-center text-uppercase">
                                Zurück
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /Modal: Anfragen -->

            <!-- Tabs links -->
            <div class=" mytabs hometabs">
                <ul class="nav nav-tabs container-fluid  no-padding-left-right" >
                    <li class=" col-md-4 col-lg-4 col-xs-5 col-sm-4 tab-search">
                        <a  href="#fahrplan" class="tab-search-link" data-easein="fadeInDow" >Fahrplan</a>
                    </li>
                    <li class=" col-md-4 col-lg-4 col-xs-5 col-sm-4 tab-search">
                        <a  href="#haltestellen" class="tab-search-link" data-easein="fadeInDow" >Haltestellen</a>
                    </li>
                    <li class=" col-md-4 col-lg-4 col-xs-2 col-sm-4 tab-search">
                        <a  href="#storungen" class="tab-search-link" data-easein="fadeInDow" >
                            <span class="hidemobile" > Störungen </span>
                            <i class="fa fa-exclamation-triangle hide-desktop" aria-hidden="true"></i>
                            <span class="red circlenotif">2</span>
                        </a>
                    </li>
                </ul>
            </div><!-- /Tabs links -->
            <!-- Tabs content -->
            <div id="tab-search-centent" class=" col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right no-border greyback" style="display: none">
                <div class="tab-content container margin-top-30 margin-bottom30"  id="tab-content1" >
                    <!--Tab 1 : fahrplan-->
                    <div id="fahrplan" class="tab-pane active">
                        <div class="col-xs-11 col-md-7 col-lg-6 col-sm-11 form-fields no-padding-left-right ">

                            <div class="form-group margin-toplg-30 margin-bottom-xs-1" id="addressFrom">
                                <span class="inputFont">A</span> <input type="text" class="form-control rsagsource" placeholder="Rostock, Neuer Markt" id="txtSource">
                                <i class="custom-icon ci-target" aria-hidden="true" id="get-mylocation"></i>
                            </div>
                            <img src="typo3conf/ext/rsag_theme/Resources/Public/images/doublefleche.png" class="doublefleche"/>
                            <div class="form-group" id="addressTo">
                                <span class="inputFont bFont ">B</span><input type="text" class="form-control rsagtarget" placeholder="Zielpunkt" id="txtDestination">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4 col-sm-12 margin-toplg-30 margin-top-sm-0 no-paddingsm-left-right form-fields no-paddingxs-left-right ">

                            <div class="can-toggle form-group hidemobileselect col-md-12 col-lg-12  no-padding-left-right">
                                <input id="ankunftDesktop" type="checkbox">
                                <label for="ankunftDesktop">
                                    <div class="can-toggle__switch" data-checked="Ankunft" data-unchecked="Abfahrt"></div>

                                </label>
                            </div>


                            <div class="can-toggle hide-desktopselect col-xs-2 col-sm-2 no-padding-left-right">

                                <input id="ankunftmobile" type="checkbox">
                                <label for="ankunftmobile">
                                    <div class="can-toggle__switch" data-checked="AB" data-unchecked="AN"></div>

                                </label>
                            </div>
                            <div class=" col-md-12 col-lg-12 col-xs-10 col-sm-10 no-padding-left-right">
                                <div class="input-group date datetimepicker width-100">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon-1 hidemobile">
                            <div class="icon icon-rsag-clear-calendar"></div>
                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-7 col-lg-7 col-sm-12 form-fields no-padding-left-right ">
                            <div class="form-group optionsresults" hidden>
                                <label>Option :</label> <span></span>
                            </div>
                            <button type="button" class="btn btn-primary submit" onclick="GetRoute()">Verbindungen anzeigen</button>
                            <div class="no-backround">
                                <a class="registerbutton  col-md-6 col-lg-6 no-padding-left-right" data-toggle="modal" data-target="#anfragen">
                                    <div class="icon icon-rsag-round-arrow-1-right pull-left margin-right10 "></div>
                                    Ihre letzen Anfragen
                                </a>
                                <a class="registerbutton  col-md-6 col-lg-6 no-padding-left-right" data-toggle="modal" data-target="#erweiterteOptionen">
                                    <div class="icon icon-rsag-round-arrow-1-right pull-left margin-right10 "></div>
                                    Erweiterte Optionen
                                </a>
                            </div>
                        </div>
                    </div><!--/Tab 1 : fahrplan-->

                    <!--Tab 2 : haltestellen-->
                    <div id="haltestellen" class="tab-pane  ">
                        <div class="col-xs-12 col-md-7 col-lg-7 col-sm-12 form-fields no-padding-left-right ">
                            <div class="form-group margin-toplg-30">
                                <span class="inputFont secondeOne">A</span><input type="text" class="form-control rsagsource rsagsource-xs" placeholder="Rostock, Neuer Markt">
                                <i class="custom-icon ci-target secondLocaliz" aria-hidden="true" id="get-mylocation"></i>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-lg-5 col-sm-12 margin-toplg-30 margin-top-sm-0 margin-bottom-15 no-paddingsm-left-right form-fields no-paddingxs-left-right ">
                            <div class="input-group date datetimepicker width-100">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon-1">
                        <div class="icon icon-rsag-clear-calendar"></div>
                    </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-7 col-sm-12 form-fields no-padding-left-right ">
                            <div class="form-group optionsresults" hidden>
                                <label>Option :</label> <span></span>
                            </div>
                            <button type="button" class="btn btn-primary submit">Verbindungen anzeigen</button>
                            <div class=" no-backround ">
                                <a class="registerbutton  col-md-6 col-lg-6 no-padding-left-right" data-toggle="modal" data-target="#anfragen">
                                    <div class="icon icon-rsag-round-arrow-1-right pull-left margin-right10 "></div>
                                    Ihre letzen Anfragen
                                </a>
                                <a class="registerbutton  col-md-6 col-lg-6 no-padding-left-right" data-toggle="modal" data-target="#erweiterteOptionen">
                                    <div class="icon icon-rsag-round-arrow-1-right pull-left margin-right10 "></div>
                                    Erweiterte Optionen
                                </a>
                            </div>
                        </div>
                    </div><!--/Tab 2 : haltestellen-->

                    <!--Tab 3 : storungen-->
                    <div id="storungen" class="tab-pane ">
                    </div><!--/Tab 3 : storungen-->
                </div>
            </div><!-- /Tabs content -->

    </f:section>
</div>