
<f:layout name="FullWidth" />

<f:render partial="Header" section="Header" arguments="{_all}" />
<f:render partial="Slider" section="Slider" arguments="{_all}" />
<f:render partial="Tabs" section="Tabs" arguments="{_all}" />

<f:render partial="Breadcrumb" section="Breadcrumb" arguments="{_all}" />

<!--<div class="{f:if(condition: '{specialpage} == \'downloads\'', then: 'downloads')}">-->
    <f:render section="Content"/>
<!--</div>-->


<f:render partial="Footer" section="Footer" arguments="{_all}" />
