
<f:layout name="Homepage" />


<f:render partial="Header" section="Header" arguments="{_all}" />
<f:render partial="Homeslider" section="Homeslider" arguments="{_all}" />

<div class="firstactive">
    <f:render partial="Tabs" section="Tabs" arguments="{_all}" />
</div>

<!--Main content -->


<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding-left-right homepicture">
        <div class="service-box">
            <div class="service-icon ">
                <div class="front-content">
                    <a href="#" ><img src="typo3conf/ext/rsag_theme/Resources/Public/images/schuelerticket_2017_182_reference.png"></a>
                    <h3><a href="#" >SchülerTicket 2017/18</a></h3>
                </div>
            </div>
            <div class="service-content">
                <h3><a href="#" >SchülerTicket 2017/18</a></h3>
                <p class="hidemobile" > Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der
                    Industrie bereits der Standard Demo-Text seit 1500.</p>
                <button class="btn btn-default">zum Artikel</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding-left-right homepicture">
        <div class="service-box">
            <div class="service-icon ">
                <div class="front-content">
                    <a href="#" > <img src="typo3conf/ext/rsag_theme/Resources/Public/images/entdecker_karte2_reference.png"> </a>
                    <a href="#" ><h3>Sommerferienplan</h3></a>
                </div>
            </div>
            <div class="service-content">
                <h3><a href="#" >Sommerferienplan</a></h3>
                <p class="hidemobile" >Seit Montag, den 24. Juli 2017, sind in Mecklenburg-Vorpommern Sommerferien und damit
                    Haupturlaubssaison in unserem Land. Bitte beachten Sie in dieser Zeit den Ferienfahrplan der
                    RSAG.</p>
                <button class="btn btn-default">zum Artikel</button>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-left-right homepicture height285">

        <div class="service-box">
            <div class="service-icon ">
                <div class="front-content">
                    <a href="#" > <img src="typo3conf/ext/rsag_theme/Resources/Public/images/fundsachenversteigerung2_reference.png"> </a>
                    <a href="#" ><h3>Fundsachenversteigerung</h3></a>
                </div>
            </div>
            <div class="service-content">
                <h3><a href="#" >Fundsachenversteigerung</a></h3>
                <p class="hidemobile" >Seit Montag, den 24. Juli 2017, sind in Mecklenburg-Vorpommern Sommerferien.</p>
                <button class="btn btn-default">zum Artikel</button>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-left-right homepicture height285">
        <div class="service-box">
            <div class="service-icon ">
                <div class="front-content">
                    <a href="#" > <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png"> </a>
                    <a href="#" ><h3>Fähre Gehlsdorf</h3></a>
                </div>
            </div>
            <div class="service-content">
                <h3><a href="#" >Fähre Gehlsdorf</a></h3>
                <p class="hidemobile" >Seit Montag, den 24. Juli 2017, sind in Mecklenburg-Vorpommern Sommerferien.</p>
                <button class="btn btn-default">zum Artikel</button>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding-left-right homepicture height285">
        <div class="service-box">
            <div class="service-icon ">
                <div class="front-content">
                    <a href="#" ><img src="typo3conf/ext/rsag_theme/Resources/Public/images/hansa-spiel.png"> </a>
                    <a href="#" ><h3>FC Hansa Heimspiel</h3></a>
                </div>
            </div>
            <div class="service-content">
                <h3><a href="#" >FC Hansa Heimspiel</a></h3>
                <p class="hidemobile" >Seit Montag, den 24. Juli 2017, sind in Mecklenburg-Vorpommern Sommerferien.</p>
                <button class="btn btn-default">zum Artikel</button>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="container margin-top-20 margin-top-xs-0 ">
        <div class="row">
            <div class=" margin-bottom30 col-xs-12 col-md-12 col-lg-12 col-sm-12 no-padding-left-right padding-left-right-7-5  no-paddingxs-left-right">
                <div class="bigtitle padding-left-right-7-5">
                    <h2>Veranstaltungen</h2>
                </div>
                <div class="owl-carousel owl-theme owl-carouselHome ">
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-col">

                            <!--image & bleu bloc-->
                            <div class="bloc-image">
                                <img src="typo3conf/ext/rsag_theme/Resources/Public/images/faehre_gehlsdorf2_reference.png">
                                <div class="rectangle-copy-11">
                                    <p class="text-40 text-center">26</p>
                                    <p class="text-08-17 text-center">08|17</p>
                                </div>
                            </div><!--/image & bleu bloc-->
                            <!--title & time & description & button-->
                            <div class="col-xs-12 bloc-description">
                                <h3 class="fledermausnacht">
                                    Fledermausnacht
                                </h3>
                                <p class="time-uhr">
                                    20.00 - 22.00 Uhr
                                </p>
                                <p>
                                    Am 18. und 19.08 verwandelt sich der IGA Park in ein märchenhaftes.
                                </p>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <div class="icon icon-rsag-round-arrow-1-right"></div>

                                    </div>
                                    <a class="col-xs-10 mehr-infos" href="#">
                                        Mehr Infos
                                    </a>
                                </div>
                            </div><!--/title & time & description & button-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/Main content -->


<f:render partial="Footer" section="Footer" arguments="{_all}" />
