
<f:layout name="WithRightSidebar" />

<f:render partial="Header" section="Header" arguments="{_all}" />
<f:render partial="Slider" section="Slider" arguments="{_all}" />
<f:render partial="Tabs" section="Tabs" arguments="{_all}" />

<f:render partial="Breadcrumb" section="Breadcrumb" arguments="{_all}" />

<div class="col-xs-12">
    <div class="container candy-wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-7 margin-top-60 margin-bottom-60 margin-top-xs-0 contenttext no-paddingxs-left-right main">
                <f:render section="Content"/>
            </div>
            <f:if condition="{settings.sticky} == '1'">
                <f:then>
                    <div class="col-md-offset-1 col-md-4 col-xs-12 margin-top-60 sidebar fixedsticky sticky">
                        <f:render section="Sidebar"/>
                    </div>
                </f:then>
             
                <f:else>
                    <div class="col-md-offset-1 col-md-4 col-xs-12 margin-top-60 sidebar fixedsticky ">
                        <f:render section="Sidebar"/>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</div>


<f:render partial="Footer" section="Footer" arguments="{_all}" />
