{namespace custom= Theme\ViewHelpers}
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns="http://www.w3.org/1999/xhtml"
     lang="en">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="descriptionText"
                   options="{group: 'FCE',icon: '../typo3conf/ext/theme/Resources/Public/logos/apple-touch.png'}">
            <flux:field.input name="title" label="Title"/>
            <flux:field.input name="text" label="text"/>
            <flux:field.text name="description" label="description" enableRichText="true"/>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Description Text</strong>
    </f:section>

    <f:section name="Main">
        <section class="how-to-attend-section">

            <div class="container text-center">

                <h1 class="orange bold">{title}</h1>

                <f:format.html><div class="grey">{description}</div></f:format.html>
                <v:variable.set name="event" value="{custom:NextUpcomingEvent()}"/>
                <f:if condition="{event}">
                    <f:then>
                        <f:link.page  pageUid="{event.showPage.uid}"><span class="orange">{text} »</span>
                        </f:link.page>
                    </f:then>
                </f:if>

            </div>

        </section>
    </f:section>
</div>