<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns="http://www.w3.org/1999/xhtml"
     lang="en">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="pageNotFound"
                   options="{group: 'FCE',icon: '../typo3conf/ext/theme/Resources/Public/logos/apple-touch.png'}">
            <flux:field.input name="title" label="title"/>
            <flux:field.input name="link" label="title of link"/>
            <flux:field.input name="description" label="description"/>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>description of page NotFound</strong>
    </f:section>

    <f:section name="Main">
        <div class="notpage">
            <section class="fluidcontainer overview">
                <h2 class="title">{title}</h2>
                <h4 class="errorcenter">{description}</h4>
                <a class="header-link" href="/">
                    <img alt="Next" src="typo3conf/ext/theme/Resources/Public/icons/next.png"><span
                        class="red">{link}</span>
                </a>
            </section>
        </div>
    </f:section>
</div>