@font-face {
    font-family: 'Frutiger Extra Black Cn';
    src: url('FrutigerExtraBlackCn.eot');
    src: url('FrutigerExtraBlackCn.eot?#iefix') format('embedded-opentype'),
        url('FrutigerExtraBlackCn.woff') format('woff'),
        url('FrutigerExtraBlackCn.ttf') format('truetype'),
        url('FrutigerExtraBlackCn.svg#FrutigerExtraBlackCn') format('svg');
    font-weight: 900;
    font-style: normal;
}

