<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fag-besichtigung" >
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.anrede" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.vorname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.funktion" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.strasse" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.ort_p_l_z" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.telefon" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.bemerkung" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.gruppenname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.durchschnittsalter" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fagbesichtigung_domain_model_anfrage.teilnehmeraktuell" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>