<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml"
     lang="en">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="slider" options="{group: 'FCE'}">
            <flux:form.sheet name="elements" label="slider">
                <flux:form.section name="elements">
                    <flux:form.object name="slider" label="Bilder">
                        <flux:field.file name="image" label="image" showThumbnails="1" maxItems="1" minItems="1"
                                         useFalRelation="1"/>
                        <flux:field.input name="caption" label="Caption" />
                        <flux:field.input name="lieu" label="Lieu" required="true" />
                        <flux:field.input name="date" label="Date" eval="date"/>
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Slider Box</strong>
    </f:section>

    <f:section name="Main">
        <div class="ce-slider content-element">
            <div class="jcarousel-wrapper">
                <div class="jcarousel" >
                    <ul class="slide">
                        <f:for each="{elements}" as="element" iteration="i">
                            <li><f:image src="{element.slider.image}" alt="slider-{i}"/><div class="caption"><div class="titles"><f:if condition="{element.slider.caption} != ''}"><span class="sub-caption">{element.slider.caption}</span></f:if><f:if condition="{element.slider.lieu} != ''}"><span>Lieu: {element.slider.lieu}</span></f:if><f:if condition="{element.slider.date} != ''}"><span>Date: <f:format.date  format="Y">{element.slider.date}</f:format.date></span></f:if></div></div></li>
                        </f:for>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev"><img src="typo3conf/ext/sater_theme/Resources/Public/Images/carousel-arrow-left.png" /></a>
                <a href="#" class="jcarousel-control-next"><img src="typo3conf/ext/sater_theme/Resources/Public/Images/carousel-arrow-right.png" /></a>

            </div>
        </div>

    </f:section>
</div>
