<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pk-eventmaps" >
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.title" />
		</td>
		<td>
		{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.date" />
		</td>
		<td>
		{event.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.aktionszeit" />
		</td>
		<td>
		{event.aktionszeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.location" />
		</td>
		<td>
		{event.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.street" />
		</td>
		<td>
		{event.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.streetnumber" />
		</td>
		<td>
		{event.streetnumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.zip" />
		</td>
		<td>
		{event.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.city" />
		</td>
		<td>
		{event.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.moderator" />
		</td>
		<td>
		{event.moderator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.informations" />
		</td>
		<td>
		{event.informations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.fon" />
		</td>
		<td>
		{event.fon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.fax" />
		</td>
		<td>
		{event.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.mail" />
		</td>
		<td>
		{event.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.lon" />
		</td>
		<td>
		{event.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pkeventmaps_domain_model_event.lat" />
		</td>
		<td>
		{event.lat}
		</td>
	</tr>
</table>
</html>