<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dld" >
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_sessionpeople.is_speaker" />
		</td>
		<td>
		{sessionPeople.isSpeaker}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_sessionpeople.is_moderator" />
		</td>
		<td>
		{sessionPeople.isModerator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_sessionpeople.sort_order" />
		</td>
		<td>
		{sessionPeople.sortOrder}
		</td>
	</tr>
</table>
</html>