	<f:layout name="Default" />

	<f:section name="Main">
		<div class="tx-j77products-list-wrapper">
			<div class="container-fluid">
				<div class="row">

					<f:if condition="{headline} || {subheadline}">
						<div class="col-12">
							<section class="list-headlines">
								<div class="rubrik daylight">{headline}</div>
								<h2 class="first daylight light align-left">{subheadline}</h2>
							</section>
						</div>
					</f:if>

					<div class="col-12">
						<div class="tx-j77products-list row">
							<f:for each="{maschinen}" as="maschine">
								<div class="wrapper col-12 col-sm-6 col-md-4 col-lg-3">
									<div class="maschine-teaser">
										<div class="wrapper-maschine">
											<figure>
												<f:image src="{maschine.teaserbild.originalResource.publicUrl}" />
											</figure>
											<section>
												<p class="name">{maschine.name}</p>
											</section>

										</div>
										<img src="/typo3conf/ext/j77products/Resources/Public/Icons/plus-greybox.png" class="overlay-open" alt="open">
									</div>
									<div class="overlay">
										<div class="overlay-left">
											<section>
												<h5 class="overlay-title fifth bold align-left daylight">{maschine.name}</h5>
											</section>
											{maschine.teasertext -> f:format.raw()}
											<f:if condition="{maschine.detailseite}">
												<f:then>
													<f:link.page pageUid="{maschine.detailseite}" class="btn"><f:translate key="tx_j77products.read_more" /></f:link.page>
												</f:then>
												<f:else>
													<f:link.action action="detail" controller="Maschine" arguments="{maschine : maschine}" pageUid="{detailPageUid}" pluginName="Maschine" class="btn"><f:translate key="tx_j77products.read_more" /></f:link.action>
												</f:else>
											</f:if>
										</div>
										<div class="overlay-right">
											<figure>
												<f:image src="{maschine.vorschaugrafik.originalResource.publicUrl}" />
											</figure>
										</div>
										<img src="/typo3conf/ext/j77products/Resources/Public/Icons/close.png" class="overlay-close" alt="close">
									</div>
								</div>
							</f:for>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>
