{namespace kf = LeadGeneration\ContactForm\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <v:variable.set name="myObject" value="{kf:GetUser()}"/>
    <f:if condition="{myObject.groupData.title.1 -> f:format.case(mode: 'upper')}== ADMIN ">
        <f:then>
            <f:link.action action="list" class="btn btn-primary float-right">Back to list</f:link.action>
        </f:then>
    </f:if>
    <br/>
    <h1>Single View for Event</h1>

    <f:render partial="Event/Properties" arguments="{event:event}"/>
    <div class="table-responsive">
        <table class="tx_contactform table mt-5 table-striped table-bordered ">
            <tr>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.gender"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.title"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.first_name"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.last_name"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.email"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.company"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.city"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.country"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.interventional_pulmonologist"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.pneumologist"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.thoracic_surgeon"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.general_practitioner"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.distributor"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.specialist_other"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.information_product_portfolio"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.informaztion_clinical_evidence"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.information_other"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.contact"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.contact_reason"/>
                </th>
                <th>
                    <f:translate key="tx_contactform_domain_model_participant.captured_by"/>
                </th>
            </tr>

            <f:for each="{participants}" as="participant">
                <tr>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.gender}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.title}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.firstName}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.lastName}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.email}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.company}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.city}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.country}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}">
                            {participant.interventionalPulmonologist}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.pneumologist}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.thoracicSurgeon}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.generalPractitioner}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.distributor}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.specialistOther}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}">
                            {participant.informationProductPortfolio}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}">
                            {participant.informaztionClinicalEvidence}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.informationOther}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.contact}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.contactReason}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" controller='Participant' pluginName="feevents"
                                       arguments="{participant : participant}"> {participant.capturedBy}
                        </f:link.action>
                    </td>

                </tr>
            </f:for>
        </table>

    </div>
</f:section>
</html>