<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="Formulairepage"/>

    <f:section name="Configuration">
        <flux:form id="formulairepage"
                   options="{icon: 'typo3conf/ext/sater_theme/Resources/Public/Images/layouts/HomePage.png'}">
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="header" label="Header">
                        <flux:form.variable name="allowedContentTypes" value="fluidcontent_content"/>
                    </flux:grid.column>
                </flux:grid.row>
            </flux:grid>
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="1" name="test" label="Test"/>
                </flux:grid.row>
            </flux:grid>
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="2" name="formulaire" label="formulaire">
                        <flux:form.variable name="allowedContentTypes" value="fluidcontent_content"/>
                    </flux:grid.column>
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <v:content.render column="0"/>
        <div class="main-content">
            <f:if condition ="{v:content.render(column:'1')}!=''">
                <f:then>
                    <article class="article-readmore container">
                        <div class="readmore container">
                            <v:content.render column="1"/>
                        </div>
                    </article>
                </f:then>
            </f:if>
            <v:content.render column="2"/>

        </div>
    </f:section>
</div>
