<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Homepage" />

	<f:section name="Configuration">
		<flux:form id="homepage"  options="{icon: 'typo3conf/ext/sater_theme/Resources/Public/Images/layouts/HomePage.png'}">
			<flux:field.input name="settings.menu" label="header page" />
			<flux:field.checkbox name="settings.active" default="false" label="Current mennu"/>
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="Content" label="Content" />
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Content">
		<v:content.render column="0"/>
	</f:section>
</div>
