<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_contactform_domain_model_event.name" />
</label><br />
	<f:form.textfield property="name"  class="form-control" additionalAttributes="{required :'1'}"/><br />
<label for="startDate">
	<f:translate key="tx_contactform_domain_model_event.start_date"/>
</label><br />
	<f:form.textfield property="startDate" value="{event.startDate->f:format.date(format: 'd/m/Y')}" class="form-control datepicker" additionalAttributes="{required :'1'}" /><br />
<label for="endDate">
	<f:translate key="tx_contactform_domain_model_event.end_date" />
</label><br />
	<f:form.textfield property="endDate" value="{event.endDate->f:format.date(format: 'd/m/Y')}" class="form-control datepicker" additionalAttributes="{required :'1'}"/><br />

<label for="place">
	<f:translate key="tx_contactform_domain_model_event.place"/>
</label><br />
	<f:form.textfield property="place" class="form-control"/><br />
</html>