<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-contact-form table mt-5 table-striped table-bordered" >
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_event.name" />
		</td>
		<td>
		{event.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_event.start_date" />
		</td>
		<td>
		{event.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_event.end_date" />
		</td>
		<td>
		{event.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_event.place" />
		</td>
		<td>
		{event.place}
		</td>
	</tr>
</table>
</html>