html, body {
  font-family: Arial;
  color: #333; }

.dent-net-search-wrapper .input-style {
  width: 100%;
  border-style: none;
  padding: 15px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
}
.dent-net-search-wrapper .list-style {
  list-style: none;
  padding: 0 0 0 0; }
.dent-net-search-wrapper .list-side li {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0; }
.dent-net-search-wrapper .row {
  position: relative;
  width: 100%; }
.dent-net-search-wrapper .col {
  box-sizing: border-box;
  float: left;
  padding: 9px;
  height: 400px; }
.dent-net-search-wrapper .col-3 {
  width: 25%; }
.dent-net-search-wrapper .col-6 {
  width: 50%; }
.dent-net-search-wrapper .col-9 {
  width: 75%; }
.dent-net-search-wrapper .col-12 {
  width: 100%; }
.dent-net-search-wrapper .text-center {
  text-align: center; }
.dent-net-search-wrapper .text-small {
  font-size: 12px; }
.dent-net-search-wrapper .hint {
  font-size: 9px;
  float: right; }
.dent-net-search-wrapper .top-bar {
  height: 10px;
  width: 100%;
  background: #00b1ff; }
.dent-net-search-wrapper h1 {
  font-weight: 300;
  color: #00b1ff; }
.dent-net-search-wrapper h3 {
  font-weight: lighter;
  font-size: 24px; }
.dent-net-search-wrapper h4 {
  font-weight: lighter;
  font-size: 19px;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }
.dent-net-search-wrapper .font-weight-light {
  font-weight: lighter; }
.dent-net-search-wrapper .font-white {
  color: white; }
.dent-net-search-wrapper .font-blue {
  color: #00b1ff; }
.dent-net-search-wrapper .font-light-blue {
  color: #e6f7ff; }
.dent-net-search-wrapper .background-light-blue {
  background: #e6f7ff; }
.dent-net-search-wrapper .background-yellow {
  background: #ffcf00; }
.dent-net-search-wrapper .font-yellow {
  color: #ffcf00; }
.dent-net-search-wrapper .background-blue {
  background: #00b1ff; }
.dent-net-search-wrapper .background-white {
  background: #ffffff; }
.dent-net-search-wrapper .border-blue {
  border: 1px solid #00b1ff; }
.dent-net-search-wrapper .font-size14 {
  font-size: 14px; }
.dent-net-search-wrapper .font-size21 {
  font-size: 21px; }
.dent-net-search-wrapper .font-size32 {
  font-size: 32px; }
.dent-net-search-wrapper .font-size48 {
  font-size: 48px; }
.dent-net-search-wrapper .padding15box {
  padding: 15px; }
.dent-net-search-wrapper .saved-money {
  margin: 10px 0; }
.dent-net-search-wrapper .button-style {
  box-sizing: border-box;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px; }
.dent-net-search-wrapper a.saved-money-check {
  text-decoration: none;
  color: #ffffff;
  display: block; }
.dent-net-search-wrapper .saved-money-check {
  border: 1px solid #ffffff;
  border-radius: 3px; }
.dent-net-search-wrapper .spacer-top {
  margin-top: 15px; }
.dent-net-search-wrapper .spacer-bottom {
  margin-bottom: 15px; }
.dent-net-search-wrapper .spacer {
  margin: 15px 0; }
.dent-net-search-wrapper .dent-net-finder {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 10px 15px; }
.dent-net-search-wrapper .detail-link {
  font-weight: bold;
  float: left;
  clear: both;
  text-decoration: none; }
.dent-net-search-wrapper .search-list li {
  float: left;
  width: 100%;
  border-color: #00b1ff; }
.dent-net-search-wrapper .clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }
.dent-net-search-wrapper .search-item {
  height: 400px;
  width: 100%; }
.dent-net-search-wrapper .background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
.dent-net-search-wrapper .image-header {
  background-image: url("../images/header.jpg");
  height: 750px;
  width: 100%; }
.dent-net-search-wrapper .image-left-side {
  background-image: url("../images/left.jpg");
  height: 140px;
  width: 100%; }
.dent-net-search-wrapper .image-right-side {
  background-image: url("../images/right.jpg");
  height: 140px;
  width: 100%; }
.dent-net-search-wrapper .text-vertical-align {
  display: flex;
  align-items: center; }
.dent-net-search-wrapper .search-wrapper {
  position: relative; }
.dent-net-search-wrapper .hidden {
  display: none; }
.dent-net-search-wrapper .type-a-head {
  position: absolute;
  z-index: 100;
  background: white;
  list-style: none;
  left: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-height: 300px;
  overflow-y: scroll; }
.dent-net-search-wrapper .type-a-head li {
  padding: 4px 8px;
  border: 1px solid #eeeeee;
  cursor: pointer; }
.dent-net-search-wrapper .type-a-head li:hover {
  background: #00b1ff;
  color: #ffffff; }
.dent-net-search-wrapper .type-a-head:empty {
  display: none; }
.dent-net-search-wrapper button {
  cursor: pointer; }
span.label.dentnet_tag {
  color: #c2d98b;
  border: 1px solid;
  padding: 8px;
  margin-right: 10px;
  font-size: 14px;
  display: block;
  width: 130px;
  margin: 10px 0;
}
.dentnet_tabber {
  height: 53px;
  background-color: #f5f7f6;
  color: #79ab28;
  border-top: 1px solid #e6e9ed;
  border-left: 1px solid #e6e9ed;
  border-right: 1px solid #e6e9ed;
  border-bottom: 1px solid #f5f7f6;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.js_phi_tab{
  display: none;

}
.js_phi_tab.active{
  display: block;

}
.dentnet_tabber.active {
  background: #79ab28;
  color: #fff;
}
div#info {
  border: 1px solid #79ab28;
  color: #79ab28;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.advanced-search {
  text-align: left;
 display: none;
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background-color: #e6647d;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.advanced-open {
  margin-top: 10px;
  cursor: pointer;
}
.advanced-search label{
  text-align: left;
  padding-left: 25px !important;
}
.advanced-search p {
  font-size: 18px;
  font-weight: bold;
  color: #79ab28;
}
select#search-perimeter {
  width: 70%;
  padding: 8px;
  border: 1px solid;
}
.dentnet_infos div {
  padding: 10px 0px 10px 15px;
  float: left;
  width: 18%;
  font-weight: 700;
  position: relative;
  top: 2px;
  color: #fff;
}
.showPrint{
  display: none;
}
.hidePrint.moreLink {
  text-align: right;
}
.dentnet_infos {
  padding: 5px 0;
  margin: 20px 0;
}
a:hover{
  text-decoration: none;
}
.orangebackground{
  background-color: #ef8408;
}
.greenbackground{
  background-color: #79ab28;
}
.dentnet_infos a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.dentnet_prothumbnails img {
  width: 100px;
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */
