<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Event</h1>

<f:flashMessages />

<table  class="tx_dld" >
	<tr>
		<th><f:translate key="tx_dld_domain_model_event.title" /></th>
		<th><f:translate key="tx_dld_domain_model_event.header_image" /></th>
		<th><f:translate key="tx_dld_domain_model_event.is_visible" /></th>
		<th><f:translate key="tx_dld_domain_model_event.slide_image" /></th>
		<th><f:translate key="tx_dld_domain_model_event.conference_image" /></th>
		<th><f:translate key="tx_dld_domain_model_event.program_pdf" /></th>
		<th><f:translate key="tx_dld_domain_model_event.max_invitee" /></th>
		<th><f:translate key="tx_dld_domain_model_event.twitter_hashtag" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>

			<td><f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.headerImage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.isVisible}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.slideImage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.conferenceImage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.programPdf}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.maxInvitee}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.twitterHashtag}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>
</f:section>
</html>