<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <div id="conf">
        <f:for each="{pastevents}" as="event">
                    <f:link.page pageUid="{event.showPage.uid}">
                        <div class="conference-item">
                            <div class="container container-xs">
                                <div class="row">
                                    <div class="col-sm-5 hidden-xs">
                                        <f:if condition="{event.conferenceImage}">
                                            <f:then>
                                                <f:image image="{event.conferenceImage}"
                                                         class="img-responsive" maxHeight="300"/>
                                            </f:then>
                                            <f:else>
                                                <f:image
                                                        src="{settings.urlEvent}"
                                                        class="img-responsive" maxHeight="300"/>
                                            </f:else>
                                        </f:if>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3 class="orange bold">{event.title}</h3>
                                        <p class="date dark-grey">{event.start-> f:format.date(format:'M d')}</p>

                                        <f:if condition="{event.conferenceImage}">
                                            <f:then>
                                                <f:image image="{event.conferenceImage}"
                                                         class="img-responsive visible-xs"/>
                                            </f:then>
                                            <f:else>
                                                <f:image
                                                        src="{settings.urlEvent}"
                                                        class="img-responsive visible-xs" maxHeight="300"/>
                                            </f:else>
                                        </f:if>
                                        <div class="dark-grey">
                                            <f:format.crop maxCharacters="250"><f:format.html>{event.description}</f:format.html></f:format.crop>
                                        </div>
                                        <span class="orange">More »</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:link.page>
        </f:for>
    </div>
</f:section>
</html>