<f:format.nl2br>{contactForm.realEstate.agencyName}
{contactForm.realEstate.agencyReference}
{contactForm.realEstate.agencyStreet}, {contactForm.realEstate.agencyZip}, {contactForm.realEstate.agencyCity}

<strong>Objekt: {contactForm.realEstate.refCode}</strong>
{contactForm.realEstate.objectStreet}
{contactForm.realEstate.objectZip} {contactForm.realEstate.objectCity}
{contactForm.realEstate.objectTitle}

<strong>Folgende Person ist interessiert:</strong>
Anrede: {contactForm.greeting}
Vorname: {contactForm.firstName}    
Name: {contactForm.lastName}
Strasse: {contactForm.street}
PLZ/Ort: {contactForm.zip} {contactForm.city}
Land: {contactForm.country}
Telefon: {contactForm.phone}
E-mail: {contactForm.email}
    
<strong>Bemerkung:</strong>
{contactForm.comment}
</f:format.nl2br>