{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="tx-real-estate">

    <v:asset.style path="EXT:pingag_real_estate/Resources/Public/Css/magicsuggest-min.css"
                   name="autocomplete-css"
                   content="footer"
                   standalone="1"/>

    <v:asset.style path="EXT:pingag_real_estate/Resources/Public/Css/real-estate.css"
                   name="real-estate-css"
                   content="footer"
                   standalone="1"/>

    <v:asset.script path="EXT:pingag_real_estate/Resources/Public/JavaScripts/jquery.lazy.min.js"
                    name="jquery-lazyload"
                    content="footer"
                    standalone="1"/>




    <v:asset.script path="EXT:pingag_real_estate/Resources/Public/JavaScripts/magicsuggest-min.js"
                    name="autocomplete-js"
                    content="footer"
                    standalone="1"/>


    <v:asset.script path="EXT:pingag_real_estate/Resources/Public/JavaScripts/geoinfo.js"
                    name="geoinfo"
                    content="footer"
                    standalone="1"/>

    <v:asset.script path="EXT:pingag_real_estate/Resources/Public/JavaScripts/jquery.cookie.js"
                    name="jquery-cookie"
                    content="footer"
                    standalone="1"/>

    <v:asset.script path="EXT:pingag_real_estate/Resources/Public/JavaScripts/real-estate.js"
                    name="real-estate-js"
                    content="footer"
                    standalone="1"/>
    
    <f:render section="main" />
</div>
