<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_dld_domain_model_event.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="headerImage">
	<f:translate key="tx_dld_domain_model_event.header_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="isVisible">
	<f:translate key="tx_dld_domain_model_event.is_visible" />
</label><br />
	<f:form.checkbox property="isVisible" value="1" /><br />
<label for="slideImage">
	<f:translate key="tx_dld_domain_model_event.slide_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="conferenceImage">
	<f:translate key="tx_dld_domain_model_event.conference_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="programPdf">
	<f:translate key="tx_dld_domain_model_event.program_pdf" />
</label><br />
	<f:form.textfield property="programPdf" /><br />
<label for="maxInvitee">
	<f:translate key="tx_dld_domain_model_event.max_invitee" />
</label><br />
	<f:form.textfield property="maxInvitee" /><br />

<label for="twitterHashtag">
	<f:translate key="tx_dld_domain_model_event.twitter_hashtag" />
</label><br />
	<f:form.textfield property="twitterHashtag" /><br />

<label for="isInvitationalEvent">
	<f:translate key="tx_dld_domain_model_event.is_invitational_event" />
</label><br />
	<f:form.checkbox property="isInvitationalEvent" /><br />
<label for="applyToInviteUntil">
	<f:translate key="tx_dld_domain_model_event.apply_to_invite_until" />
</label><br />
	<f:form.textfield property="applyToInviteUntil" /><br />

</html>