<f:section name="content">


    <div class="formbody">
        <input name="FORM_SUBMIT" value="" type="hidden">
        <input name="REQUEST_TOKEN" value="" type="hidden">
        <div class="widget widget-text mandatory">
            <label for="ctrl_1268" class="mandatory">
                <span class="invisible">Pflichtfeld </span>Titel<span class="mandatory">*</span>
            </label>
            <f:form.textfield property="titel" class="text mandatory" value=""/>
        </div>
        <div class="widget widget-text mandatory">
            <label for="ctrl_1287" class="mandatory">
                <span class="invisible">Pflichtfeld </span>Ort<span class="mandatory">*</span>
            </label>
            <f:form.textfield property="ort" class="text mandatory" value=""/>
        </div>

        <strong>Datum</strong>
        <div id="kp_neueDaten_links_container"></div>
        <a href="javascript:{}" id="addNewDaten" class="AddNewEntry"><i class="fa fa-plus-circle"
                                                                        aria-hidden="true"></i>Datum hinzufügen</a>
        <div id="kp_termine_bild_container">
        </div>

        <div>Bild (Optional)</div>
        <div id="filename"></div>
        <div id="progress"></div>
        <div id="progressBar"></div>
        <f:comment>
            <h:form.upload property="file" multiple="multiple" class="input-file if1" id="kp_bild_termine_upload">
                <f:if condition="{resource}">
                    <f:image image="{resource}" alt="" class="image_preview"/>
                </f:if>
            </h:form.upload>
        </f:comment>
        <div class="removeLogoWrapper"><a class="removeLogoLink" href="javascript:{}"><i class="fa fa-trash"></i>
            Bild entfernen</a></div>
        <div class="widget widget-textarea">
            <label for="ctrl_1279">
                Text </label>
            <f:form.textarea property="termineText" class="textarea" value="" rows="15" cols="40"/>
        </div>
        <strong>Downloads</strong>
        <ul class="kp_neuerTermin_downloads_container EntryContainer"></ul>
        <a href="javascript:{}" id="addNewDownloadsFile" class="AddNewEntry"><i class="fa fa-plus-circle"
                                                                                aria-hidden="true"></i>Download
            hinzufügen</a>
        <strong>Links</strong>
        <ul class="kp_neuerTermin_links_container EntryContainer"></ul>
        <a href="javascript:{}" id="addNewLink" class="AddNewEntry"><i class="fa fa-plus-circle" aria-hidden="true"></i>Link
            hinzufügen</a>
        <div class="deleteLink submit_container">
            <a href="javascript:{}" class="deleteTermin  button" style="margin-right: 1em; display: none;"><i
                    class="fa fa-trash"></i>Termin löschen</a>
            <button type="submit" id="ctrl_1285" value="Termin speichern">
                <i class="fa fa-calendar"></i> Termin speichern
            </button>
        </div>
    </div>
</f:section>
