
<table class="tx-dld" >
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.name" />
		</td>
		<td>
			{partner.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.logo" />
		</td>
		<td>
			{partner.logo.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.country" />
		</td>
		<td>
			{partner.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.city" />
		</td>
		<td>
			{partner.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.description" />
		</td>
		<td>
			{partner.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.social_linkedin_url" />
		</td>
		<td>
			{partner.socialLinkedinUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_partner.social_twitter_username" />
		</td>
		<td>
			{partner.socialTwitterUsername}
		</td>
	</tr>
</table>