<f:if condition="{relative.elems}">
    <div class="col-12 col-md-6">
        <section class="produktvarianten-maschine-detail">
            <f:for each="{relative.elems->v:iterator.sort(order: 'ASC', sortBy: 'sorting')}" as="item">
                <f:switch expression="{item.element}">
                    <f:case value="0">
                        <f:comment>Bild/Beschreibungstext</f:comment>
                        <f:if condition="{relative.name}||{item.ueberschrift}||{item.bild}||{item.beschreibungstext}">
                            <div class="bild-beschreibungstext">
                                <div>
                                    <f:if condition="{relative.name}">
                                        <div class="orange rubrik">{relative.name}</div>
                                    </f:if>
                                    <story>
                                        <f:if condition="{item.ueberschrift}">
                                            <section>
                                                <h2 class="second">{item.ueberschrift}</h2>
                                            </section>
                                        </f:if>
                                        <f:if condition="{item.bild}">
                                            <div>
                                                <f:image src="{item.bild.originalResource.publicUrl}" />
                                            </div>
                                        </f:if>
                                        <f:if condition="{item.beschreibungstext}">
                                            <div class="description">
                                                {item.beschreibungstext -> f:format.raw()}
                                            </div>

                                        </f:if>
                                    </story>
                                </div>

                            </div>
                        </f:if>
                    </f:case>

                    <f:case value="1">
                        <f:comment>Vorteile</f:comment>
                        <f:if condition="{item.linkespalte} || {item.rechtespalte}">
                            <div class="vorteile">
                                <story>
                                    <section>
                                        <h2 class="second"><f:format.printf arguments="{0: relative.name}"><f:translate key="tx_j77products_domain_model_maschinenelemente.advantages_of" /></f:format.printf></h2>
                                    </section>
                                    <div class="wrapper-vorteile">
                                        <div>
                                            <f:if condition="{item.linkespalte}">
                                                {item.linkespalte -> f:format.raw()}
                                            </f:if>
                                            <f:if condition="{item.rechtespalte}">
                                                {item.rechtespalte -> f:format.raw()}
                                            </f:if>
                                        </div>
                                    </div>
                                </story>
                            </div>
                        </f:if>
                    </f:case>

                    <f:case value="5">
                        <f:comment>Zertifizierungen</f:comment>
                        <f:if condition="{item.icon}||{item.titel}">
                            <div class="zertifizierungen">
                                <div class="zertifizierungen-title">
                                    <section>
                                        <h2 class="second"><f:translate key="tx_j77products.certification" /></h2>
                                    </section>
                                </div>
                                <div class="zertifizierungen-icon">
                                    <figure>
                                        <f:if condition="{item.icon}">
                                            <f:image src="{item.icon.originalResource.publicUrl}" />
                                        </f:if>
                                        <f:if condition="{item.titel}">
                                            <div>{item.titel}</div>
                                        </f:if>
                                    </figure>
                                </div>
                            </div>
                        </f:if>
                    </f:case>

                    <f:case value="6">
                        <f:comment>Downloads</f:comment>
                        <f:if condition="{item.downloadrepeater}">
                            <div class="downloads">
                                <div>
                                    <section>
                                        <h2 class="second"><f:translate key="tx_j77products.downloads" /></h2>
                                    </section>
                                </div>
                                <div class="download-list">
                                    <ul class="arrow-list">
                                        <f:for each="{item.downloadrepeater}" as="downloadfile">
                                            <f:if condition="{downloadfile.titel}&&{downloadfile.datei.originalResource.publicUrl}">
                                                <li>
                                                    <a href="{f:uri.typolink(parameter: '{downloadfile.datei.originalResource.publicUrl}')}">{downloadfile.titel}</a>
                                                </li>
                                            </f:if>
                                        </f:for>
                                    </ul>
                                </div>
                            </div>
                        </f:if>
                    </f:case>
                </f:switch>
            </f:for>
        </section>
    </div>
</f:if>
