
#contactForm .col-md-6{
  float: left;
}
#contactForm .powermail_textarea  {
  height: 192px;
}

#contactForm input,textarea{
  border-radius: 7px;
}
#contactForm .powermail_field{
  text-align: left;
}
#contactForm .powermail_fieldwrap_type_submit{
  text-align: center;
}