.primary {
  color: $color-primary;
  &:before {
    background-color: $color-primary;
  }
}
.primary-light {
  color: $color-primary-light;
  &:before {
    background-color: $color-primary-light;
  }
}
.primary-dark {
  color: $color-primary-dark;
  &:before {
    background-color: $color-primary-dark;
  }
}

.primary-medium {
  color: $color-primary-medium;
  &:before {
    background-color: $color-primary-medium;
  }
}

.clearfix {
  &:before, &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.no-margin-top {
  margin-top: 0!important;
}
