$lateral-menu-selector: lateral-menu;

.#{$lateral-menu-selector} {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: $z-index-highest;
  ul {
    padding-left: 0;
    min-width: 70px;
    li {
      &:before, &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        box-sizing: border-box;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        color: $color-body-bg;
        float: right;
        transition: .4s all;
        font-weight: $font-weight-light;
        background-color: $color-primary;
        position: relative;
        border-bottom: 1px solid $color-off-white;
        .fa {
          position: absolute;
          right: 50%;
          top: 8px;
          transform: translateX(50%);
          font-size: 22px;
        }
        span {
          padding: 0 $half-grid-gutter-width;
          border-bottom: 1px solid $color-off-white;
          position: absolute;
          margin-left: 40px;
          height: 40px;
          background-color: $color-primary;
          &:hover {
            background-color: $color-primary-medium;
          }
          transition: .4s all;
          box-sizing: content-box;
          white-space: nowrap;
          font-size: $font-size-base;
          min-width: 70px;
          display: block;
          top: 0;
          box-sizing: border-box;
          min-width: 150px;
      }
        &:hover {
          span {
            width: auto;
            transform: translateX(-100%);
          }
          img {
            width: 0;
            transition: .4s all;
          }
        }
      }
    }
  }
  &.expand-onload {
    ul {
      li {
        a {
          span {
            width: auto;
            transform: translateX(-100%);
            transition: .4s all;
          }
          img {
            width: 0;
            transition: .4s all;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .#{$lateral-menu-selector} {
    background-color: $color-primary;
    bottom: 0;
    top: auto;
    width: 100%;
    transform: none;
    border-bottom: none;
    right: 0;
    ul {
      @include display-flex();
      @include justify-content(space-between);
      width: 100%;
      li {
        float: left;
        @include flex-basis(25%);
        a {
          margin: 0 auto;
          float: none;
          border-bottom: none;
          span {
            display: none;
          }
        }
      }
    }
  }
  .lateral-slides {
  padding-bottom: 54px;
  }
}

.lateral-slides {
  position: fixed;
  z-index: $z-index-highest-1;
  background-color: $color-primary-dark;
  left: 100%;
  right: 0;
  top: 80px;
  overflow: auto;
  bottom: 0;
  @media screen and (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet){
    top: 69px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    top: 76px;
  }

}

.close {
  position: absolute;
  left: 9px;
  top: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    background: white;
    position: absolute;
    top: 17px;
    left: auto;
    width: 30px;
    right: 5px;
    height: 3px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.corresponding-slide {
  display: none;
  * {
    color: $color-body-bg;
  }
  .content-element {
    margin-top: -23px;
  }
}

