
<table class="tx-dld" >
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.street" />
		</td>
		<td>
			{venue.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.name" />
		</td>
		<td>
			{venue.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.street_number" />
		</td>
		<td>
			{venue.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.city" />
		</td>
		<td>
			{venue.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.zipcode" />
		</td>
		<td>
			{venue.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.country" />
		</td>
		<td>
			{venue.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.latitude" />
		</td>
		<td>
			{venue.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_venue.longitude" />
		</td>
		<td>
			{venue.longitude}
		</td>
	</tr>
</table>