$purpley-grey: #9b9b9b;
$charcoal-grey: #4a4a4a;
$plain-black: #000000;
$tomato: #e44315;
$tomato-dark: #cd3c13;
$plain-white: #ffffff;
$dark-white: #f1f1f1;
$parchment: #fff9ad;
$light-gold: #ffdf44;
$lightblue: #a2c7f3;
$color-blue: #2597f8;
$faded-white: rgba(255, 255, 255, 0.5);
$faded-tomato: rgba(228, 67, 21, 0.5);
$color-primary: #db4114;
$color-gray-front: #e7e7e7;
$colorcoockie : #f2f2f2;
$color-gray : #808081;
$color-back-gray:#f2f2f2;
$color-font-gray:#333;
$bordercoockie : #e4e4e4;
$color-primary-gradient: #e74d20;
$viewport-extra-large: 1441px;
$viewport-large: 992px;
$viewport-medium: 768px;
$viewport-small: 450px;
$screen-size-mobile: 500px;
$screen-xs-max: 800px;
$viewport-small-phone:360px;
$screen-size-mobile-1:460px;
$screen-size-mobile-2:461px;
$font-default: 'HelveticaNeue', sans-serif;
$font-bold: 'HelveticaNeueBold', sans-serif;
$font-medium: 'HelveticaNeueMedium', sans-serif;
$font-medium-italic: 'HelveticaNeueMediumItalic', sans-serif;
$font-neue-light: 'HelveticaNeue-Light', sans-serif;
$size-font-subtitle: 18px;