@font-face{
  font-family:"HelveticaNeue";
  src: url("/typo3conf/ext/theme/Resources/Public/fonts/HelveticaNeue.ttf");
}

@font-face{
  font-family:"HelveticaNeueBold";
  src: url("/typo3conf/ext/theme/Resources/Public/fonts/HelveticaNeueBold.ttf");
}

@font-face{
  font-family:"HelveticaNeueMedium";
  src: url("/typo3conf/ext/theme/Resources/Public/fonts/HelveticaNeueMedium.ttf");
}

@font-face{
  font-family:"HelveticaNeueMediumItalic";
  src: url("/typo3conf/ext/theme/Resources/Public/fonts/HelveticaNeueMediumItalic.ttf");
}
@font-face{
  font-family:"HelveticaNeueCondensedBlack";
  src: url("/typo3conf/ext/theme/Resources/Public/fonts/HelveticaNeueCondensedBlack.ttf");
}