.page-header-test{
  position: relative;
  padding-bottom: 9px;
  .bold {
    text-align: center;
  }
  .red {
    color: #db4114;
  }
  &.one-line{
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
  }
  &.two-line{
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
  }

}
.highlights-section .page-header-test.default h1{
  margin-bottom: 0px;
}
.standard-page {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  background-color: white;
  .standard-page-content {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-top: 20px;
    .content-picture {
      position: relative;
      float: left;
      top: -40px;
      padding: 40px;
      padding-left: 0;
      padding-bottom: 20px;
      background: white;
    }
    &.no-horizontal-spacing{
      margin-bottom: 43px;
      .image-position+.no-border{
        .frame.container{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .standard-page-content {
      padding: 20px 0px;
      margin: 20px 0px;
      .content-picture {
        max-width: 100%;
        padding: 20px 0px;
        float: none;
      }
      .image-position {
        text-align: center;
      }
    }
  }

}
section.standard-page section.standard-page-content p {
  font-family: "HelveticaNeue";
  margin-bottom: 20px;
  margin-top: 20px;
}
section.standard-page section.standard-page-content #mc_embed_signup + p {
  margin: 0;
}
section.standard-page section.standard-page-content #mc_embed_signup + p + p {
  margin: 0;
}
section.standard-page section.standard-page-content{
  .frame {
    >p:first-child {
      margin-top: 0;
    }
    .ce-textpic{
      .ce-bodytext{
        >p{
          margin-top: 0;
        }
      }
    }
  }
}
#header {
  font-family: $font-medium;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  .menu-left {
    text-align: right;
    vertical-align: middle;
    //z-index: 9999;
    padding-right: 100px;
  }

  .logo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    width: 200px;
    z-index: -1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    .logo{
      width: 86px;
      margin-top: -4px;
      margin-left: 13px;
      @media only screen and (max-width: 991px) and (min-width: 768px){
        margin-top: -10px;
        margin-left: 9px;
      }
    }
  }

  .menu-right {
    text-align: left;
    vertical-align: middle;
    padding-left: 100px;
  }

  .search-container {
    top: -52px;
    .container-xs {
      width: 80%;
    }
  }
  .container {
    /*max-width: none;*/
  }
  .top-bounce-fix {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 300px;
    z-index: 2000;
    background-color: $plain-white;

  }

  .header-wrapper {
    @include box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.7));
    background-color: $plain-white;
    position: relative;
    z-index: 2;

    .container {
      align-items: baseline;
      padding: 25px 0;
      position: relative;
      width: 80%;
      // z-index: 2;
      background-color: $plain-white;
      z-index: 10;
      .logo-wrapper {
        z-index: 4;
      }

      @media only screen and (min-width: 992px){
        max-width: calc(100% - 420px);
        height: 70px;
        >.left {
          position: absolute;
          right: calc(50% + 94px);
        }
        >.right {
          position: absolute;
          left: calc(50% + 94px);
        }
      }
      @media only screen and (min-width: 1200px) {

      }
    }

    .oval {
      @include box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.7));
      width: 200px;
      height: 100px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -o-text-overflow: clip;
      text-overflow: clip;
      background: $plain-white;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -33.33%;
      z-index: -1;
      @media only screen and (max-width: 991px) and (min-width: 768px){
        width: 150px;
        height: 75px;
      }
    }

    .nav-links {
      li {
        padding-right: 10px;
        padding-left: 10px;

        a {
          color: $purpley-grey;
          text-decoration: none;
        }

        &:hover a {
          color: $tomato;
        }

        &.active a {
          color: $tomato;
        }
      }
    }

    .far-right {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 3;

      #search-button {
        margin-right: 20px;
      }

      .social-links li {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  .search-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $dark-white;
    z-index: 1;
    padding: 40px 0 10px;

    #search-input {
      width: 100%;
      border: 1px solid $purpley-grey;
      padding: 6px 12px;
      border-radius: 4px;
      @media screen and (max-width: $viewport-medium) {
        width: 85%;
      }
    }

    .kesearchbox{
      position: relative;
      .btnSearch{
        position: absolute;
        top: 3px;
        right: -41px;
        background: none;
      }
    }

    #search-submit {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
    .clearer{
      display: none;
    }
  }
}
.icon {
  margin: 0 7px 0 0;
  position: relative;
}