.full-width{
  width: 100%;
  padding: 0;
  .visual {
    display: flex;
    align-items: center;
    min-height: 600px;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    &.visual--small {
      min-height: 300px;
    }
  }
}