.sater_bloc{
    width:220px;
    margin: 22px 0;
}
.sater_bloc_logo{
  border:#DDD solid 1px;
  text-align:center;
}

.sater_bloc_text{
  border-radius: 0 0 44px;
  text-align:center;
  padding:10px;
  font-family: sans-serif;
}

.bg_grey{
  background:#AAA;
  color:#FFF;

}
.bg_orange{
  background:#f59122;
  color:#FFF;

}
.bg_green{
  background:#9bbb59;
  color:#FFF;

}