<f:layout name="Default" />

<f:section name="Main">
    <div class="slider-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <section>
                        <h2 class="second"><f:translate key="tx_j77products.slider_title" /></h2>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider">
                        <f:for each="{machines}" as="maschine">
                            <div class="slider-teaser">
                                <div class="wrapper-slider">
                                    <figure>
                                        <f:image src="{maschine.teaserbild.originalResource.publicUrl}" />
                                    </figure>
                                    <section>
                                        <div class="name fourth">{maschine.name}</div>
                                    </section>

                                    <f:if condition="{maschine.detailseite}">
                                        <f:then>
                                            <f:link.page pageUid="{maschine.detailseite}" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.page>
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="detail" controller="Maschine" arguments="{maschine : maschine}" pageUid="{maschineDetailPageUid}" pluginName="Maschine" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.action>
                                        </f:else>
                                    </f:if>
                                </div>
                            </div>
                        </f:for>

                        <f:for each="{prozessanlages}" as="prozessanlage">
                            <div class="slider-teaser">
                                <div class="wrapper-slider">
                                    <figure>
                                        <f:image src="{prozessanlage.teaserbild.originalResource.publicUrl}" />
                                    </figure>
                                    <section>
                                        <div class="name fourth">{prozessanlage.name}</div>
                                    </section>

                                    <f:if condition="{prozessanlage.detailseite}">
                                        <f:then>
                                            <f:link.page pageUid="{prozessanlage.detailseite}" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.page>
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="detail" controller="Prozessanlage" arguments="{prozessanlage : prozessanlage}" pageUid="{prozessanlageDetailPageUid}" pluginName="Prozessanlage" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.action>
                                        </f:else>
                                    </f:if>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
