<section class="youth" id="youthtextimage-{data.uid}-section">
    <div class="row">
        <div class="col-md-7 col-lg-7 col-xs-12 youth__img">
            <img src="{f:uri.image(image: '{files.0}')}" alt="stadium">
            <div class="overlay-image"></div>
        </div>
        <div class="col-md-7 col-lg-6 col-xs-12 youth-content-right">
            <h2 class="youth-content-right__title">{data.header} </h2>
            <div class="youth-content-right__desc">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </div>
</section>