{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="prozessanlage-detail">
	<f:for each="{prozessanlage.elemente->v:iterator.sort(order: 'ASC', sortBy: 'sorting')}" as="item">
		<f:switch expression="{item.element}">

			<f:case value="0">
				<div class="container-fluid">
					<div class="row">
						<div class="prozessanlage-title-wrap col-12">
							<f:if condition="{item.ueberschrift}">
								<section>
									<h2>{item.ueberschrift}</h2>
								</section>
							</f:if>
						</div>
					</div>
				</div>
				<div class="intro-wrap text-image-wrap">
					<div class="text-image-large container-large container-fluid clearfix">
						<div class="text-image-inner row">
							<div class="text-col">&ensp;</div>
							<f:comment>Beschreibungstext</f:comment>
							<div class="text-container container-fluid">
								<div class="text-container-inner matchHeight">
									<div class="text-content">
										<div class="text-content-inner">
											<div class="intro-beschreibungstext">
												<f:if condition="{item.beschreibungstext}">
													{item.beschreibungstext -> f:format.raw()}
												</f:if>
											</div>
										</div>
									</div>
								</div>
							</div>
			</f:case>

			<f:case value="1">
							<f:comment>Steckbrief</f:comment>
							<div class="img-col img-right">
								<div class="steckbrief matchHeight">
									<div class="steckbrief-inner">
										<div class="icon">
											<f:if condition="{item.branchenicon}">
												<figure>
													<f:image src="{item.branchenicon.originalResource.publicUrl}" />
												</figure>
											</f:if>
										</div>
										<dl>
											<f:if condition="{item.branche}">
												<dt><f:translate key="tx_j77products_domain_model_anlagenelemente.branche" />:</dt>
												<dd>{item.branche -> f:format.raw()}</dd>
											</f:if>
											<f:if condition="{item.endprodukte}">
												<dt><f:translate key="tx_j77products_domain_model_anlagenelemente.endprodukte" />:</dt>
												<dd>{item.endprodukte -> f:format.raw()}</dd>
											</f:if>
											<f:if condition="{item.anwendungsbereich}">
												<dt><f:translate key="tx_j77products_domain_model_anlagenelemente.anwendungsbereich" />:</dt>
												<dd>{item.anwendungsbereich -> f:format.raw()}</dd>
											</f:if>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:case>


			<f:case value="2">
				<f:comment>Kundenanforderungen</f:comment>

				<div class="kundenanforderungen">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="img-container">
									<f:if condition="{item.bild}">
										<figure>
											<f:image src="{item.bild.originalResource.publicUrl}" />
										</figure>
									</f:if>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="right">
									<section>
										<h2><f:translate key="tx_j77products.customer_requirements" />:</h2>
									</section>
									<ul>
										<f:if condition="{item.kapazitaet}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.kapazitaet" />: {item.kapazitaet -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.ansatzgroesse}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.ansatzgroesse" />: {item.ansatzgroesse -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.fuellstoffanteil}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.fuellstoffanteil" />: {item.fuellstoffanteil -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.platzbedarf}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.platzbedarf" />: {item.platzbedarf -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.automatisierungsgrad}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.automatisierungsgrad" />: {item.automatisierungsgrad -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.pulverzufuehrung}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.pulverzufuehrung" />: {item.pulverzufuehrung -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.reinigungsfaehigkeit}">
											<li><f:translate key="tx_j77products_domain_model_anlagenelemente.reinigungsfaehigkeit" />: {item.reinigungsfaehigkeit -> f:format.raw()}</li>
										</f:if>
										<f:if condition="{item.weitereanforderungrepeater}">
											<f:for each="{item.weitereanforderungrepeater}" as="anforderung">
												<f:if condition="{anforderung.name} && {anforderung.wert}">
													<li>{anforderung.name} {anforderung.wert -> f:format.raw()}</li>
												</f:if>
											</f:for>
										</f:if>
									</ul>
									<f:link.page pageUid="{contactPageUid}" class="btn"><span><f:translate key="tx_j77products.contact" /></span></f:link.page>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="3">
				<f:comment>Vorteile</f:comment>
				<div class="vorteile">
					<div class="container-fluid">

						<f:if condition="{item.linkespalte} || {item.rechtespalte}">
							<div class="row">
								<div class="col-12">
									<h2 class="second"><f:translate key="tx_j77products.advantages" />:</h2>
								</div>
							</div>
						</f:if>

						<div class="wrapper-vorteile">
							<div class="row">
								<div class="col-12 col-md-6">
									<f:if condition="{item.linkespalte}">
										{item.linkespalte -> f:format.raw()}
									</f:if>
								</div>
								<div class="col-12 col-md-6">
									<f:if condition="{item.rechtespalte}">
										{item.rechtespalte -> f:format.raw()}
									</f:if>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="4">
				<f:comment>Zitat-Teaser</f:comment>
				<div class="zitat-teaser">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 col-md-6">
								<f:if condition="{item.portraitbild}">
									<figure>
										<f:image src="{item.portraitbild.originalResource.publicUrl}" />
									</figure>
								</f:if>
							</div>
							<div class="col-12 col-md-6">
								<f:if condition="{item.zitat}">
									<div class="zitat">{item.zitat -> f:format.raw()}</div>
								</f:if>
								<f:if condition="{item.autor}">
									<p>{item.autor}</p>
								</f:if>
							</div>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="5">
				<f:comment>Weitere Anlagen</f:comment>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<section>
								<h2 class="second"><f:format.printf arguments="{0: anlage.category.title}"><f:translate key="tx_j77products_domain_model_anlagenelemente.more_anlagenelemente" /></f:format.printf></h2>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="weitere-anlagen slider">
								<f:if condition="{weitereanlagen}">
									<f:for each="{weitereanlagen}" as="anlage">
										<div class="slider-teaser">
											<div class="wrapper-slider">
												<figure>
													<f:image src="{anlage.image.originalResource.publicUrl}" />
												</figure>
												<section>
													<div class="name">{anlage.name}</div>
												</section>

												<f:if condition="{anlage.type}=='Prozessanlage'">
													<f:if condition="{anlage.detailseite}">
														<f:then>
															<f:link.page pageUid="{prozessanlage.detailseite}" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.page>
														</f:then>
														<f:else>
															<f:link.action action="detail" arguments="{prozessanlage : anlage.uid}" pageUid="{detailPageUid}" pluginName="Prozessanlage" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.action>
														</f:else>
													</f:if>
												</f:if>
												<f:if condition="{anlage.type}=='Maschine'">
													<f:if condition="{anlage.detailseite}">
														<f:then>
															<f:link.page pageUid="{anlage.detailseite}" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.page>
														</f:then>
														<f:else>
															<f:link.action action="detail" arguments="{maschine : anlage.uid}" pageUid="{detailMaschinePageUid}" pluginName="Maschine" controller="Maschine" class="btn"><span><f:translate key="tx_j77products.to_the_profile" /></span></f:link.action>
														</f:else>
													</f:if>
												</f:if>
											</div>
										</div>
									</f:for>
								</f:if>
							</div>
						</div>
					</div>
				</div>
			</f:case>
			<f:defaultCase>undefiniertes Element</f:defaultCase>
		</f:switch>
	</f:for>
</section>

<f:section name="image">

	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source media="(min-width:1170px)" data-srcset="{f:uri.image(image: file, width: '1170')}" srcset="#">
		<source media="(min-width:992px)" data-srcset="{f:uri.image(image: file, width: '992')}" srcset="#">
		<source media="(min-width:768px)" data-srcset="{f:uri.image(image: file, width: '768')}" srcset="#">
		<source media="(min-width:480px)" data-srcset="{f:uri.image(image: file, width: '480')}" srcset="#">
		<source data-srcset="{f:uri.image(image: file)}" srcset="#">
		<!--[if IE 9]></video><![endif]-->
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEA" data-src="{f:uri.image(image: file)}" alt="{file.alternative}" title="{file.title}" class="lazyload blur-up" />
	</picture>

</f:section>

</html>
