{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="maschine-detail">
	<f:for each="{maschine.elemente->v:iterator.sort(order: 'ASC', sortBy: 'sorting')}" as="item">
		<f:switch expression="{item.element}">
			<f:case value="0">
				<f:comment>Bild/Beschreibungstext</f:comment>
				<div class="maschine-bescheibungstext text-image-wrap bg-white">
					<div class="text-image-large container-large container-fluid clearfix">
						<div class="text-image-inner row">
							<div class="text-col">&ensp;</div>
							<div class="img-col img-right order-2 order-md-1">
								<f:if condition="{item.bild}">
									<div class="image-container">
										<f:render section="image" arguments="{file: item.bild.originalResource}"/>
									</div>
								</f:if>
							</div>
							<div class="text-container container-fluid order-1 order-md-2">
								<div class="text-container-inner overlap img-right">
									<div class="text-content">
										<div class="text-content-inner img-right">
											<f:if condition="{maschine.name}">
												<div class="orange rubrik">{maschine.name}</div>
											</f:if>
											<f:if condition="{item.ueberschrift}">
												<section>
													<h2 class="second">{item.ueberschrift}</h2>
												</section>
											</f:if>
											<f:if condition="{item.beschreibungstext}">
												<div class="description">
													{item.beschreibungstext -> f:format.raw()}
												</div>
											</f:if>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:case>

			<f:case value="1">
				<f:comment>Vorteile</f:comment>
				<f:if condition="{item.linkespalte} || {item.rechtespalte}">
					<div class="maschine-vorteile">
						<div class="container-fluid">
							<div class="row">
								<f:if condition="{item.ueberschrift}">
									<div class="col-12">
										<section>
											<h2 class="second">{item.ueberschrift}</h2>
										</section>
									</div>
								</f:if>
								<f:if condition="{item.linkespalte}">
									<div class="col-12 col-md-6">
										{item.linkespalte -> f:format.raw()}
									</div>
								</f:if>
								<f:if condition="{item.rechtespalte}">
									<div class="col-12 col-md-6">
										{item.rechtespalte -> f:format.raw()}
									</div>
								</f:if>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="2">
				<f:comment>Icon-Teaser</f:comment>
				<f:if condition="{item.ueberschrift}||{item.iconrepeater}">
					<div class="maschine-icon-teaser">
						<div class="container-fluid">
							<div class="row">
								<f:if condition="{item.ueberschrift}">
									<div class="col-12">
										<section>
											<h2 class="second white">{item.ueberschrift}</h2>
										</section>
									</div>
								</f:if>
								<f:if condition="{item.iconrepeater}">
									<div class="col-12">
										<div class="icons">
											<f:for each="{item.iconrepeater->v:iterator.sort(order: 'ASC', sortBy: 'sorting')}" as="orngicon">
												<figure>
													<f:image src="{orngicon.icon.originalResource.publicUrl}" />
													<div>{orngicon.titel}</div>
												</figure>
											</f:for>
										</div>
									</div>
								</f:if>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="3">
				<f:comment>Funktionsbeschreibung</f:comment>
				<f:if condition="{item.funktionsbild1}||{item.funktionsbild2}||{item.ueberschrift}||{item.beschreibungstext}||{item.hauptbild}">
					<div class="maschine-funktionsbeschreibung">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<f:if condition="{item.ueberschrift}||{item.beschreibungstext}">
										<story>
											<f:if condition="{item.ueberschrift}">
												<section>
													<h2 class="second">{item.ueberschrift}</h2>
												</section>
											</f:if>
											<f:if condition="{item.beschreibungstext}">
												{item.beschreibungstext -> f:format.raw()}
											</f:if>
										</story>
									</f:if>
									<figure>
										<f:if condition="{item.funktionsbild1}||{item.funktionsbild2}">
											<div class="row funktionsbeschreibung-little-img">
												<f:if condition="{item.funktionsbild1}">
													<div class="funktionsbeschreibung-img-desktop col-12 col-md-6">
														<figure>
															<f:image src="{item.funktionsbild1.originalResource.publicUrl}" />
														</figure>
													</div>
												</f:if>
												<f:if condition="{item.funktionsbild2}">
													<div class="funktionsbeschreibung-img-desktop col-12 col-md-6">
														<figure>
															<f:image src="{item.funktionsbild2.originalResource.publicUrl}" />
														</figure>
													</div>
												</f:if>
											</div>
										</f:if>
									</figure>
								</div>
								<div class="funktionsbeschreibung-img-desktop col-12 col-md-6">
									<figure>
										<f:if condition="{item.hauptbild}">
											<f:image src="{item.hauptbild.originalResource.publicUrl}" />
										</f:if>
									</figure>
								</div>
							</div>

							<div class="funktionsbeschreibung-img-mobile">
								<figure>
									<f:if condition="{item.hauptbild}">
										<f:image src="{item.hauptbild.originalResource.publicUrl}" />
									</f:if>
								</figure>
								<f:if condition="{item.funktionsbild1}">
									<figure>
										<f:image src="{item.funktionsbild1.originalResource.publicUrl}" />
									</figure>
								</f:if>
								<f:if condition="{item.funktionsbild2}">
									<figure>
										<f:image src="{item.funktionsbild2.originalResource.publicUrl}" />
									</figure>
								</f:if>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="4">
				<f:comment>Technische Daten </f:comment>
				<f:if condition="{item.leistung}||{item.spannung}||{item.drehzahl}||{item.dispergierkammer}||{item.durchsatzfluessigkeit}||{item.maximaleviskositaet}||{item.dichtung}||{item.optionen}||{item.tauchteil}||{item.lagerflansch}||{item.umfangsgeschwindigkeit}||{item.werkzeugschaft}||{item.einsaugleistungpulver}||{item.schergeschwindigkeit}||{item.chargengroesse}">

					<div class="maschine-technische desktop">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<section>
										<h2 class="second"><f:translate key="tx_j77products.technical_data" /></h2>
									</section>
								</div>
							</div>
							<div class="row">
								<f:if condition="{item.leistung}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.leistung" />:</span> {item.leistung} </div>
									</div>
								</f:if>

								<f:if condition="{item.spannung}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.spannung" />:</span> {item.spannung}</div>
									</div>
								</f:if>

								<f:if condition="{item.drehzahl}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.drehzahl" />:</span> {item.drehzahl}</div>
									</div>
								</f:if>

								<f:if condition="{item.dispergierkammer}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.dispergierkammer" />:</span> {item.dispergierkammer}</div>
									</div>
								</f:if>

								<f:if condition="{item.durchsatzfluessigkeit}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.durchsatzfluessigkeit" />:</span> {item.durchsatzfluessigkeit}</div>
									</div>
								</f:if>

								<f:if condition="{item.maximaleviskositaet}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.maximaleviskositaet" />:</span> {item.maximaleviskositaet}</div>
									</div>
								</f:if>

								<f:if condition="{item.dichtung}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.dichtung" />:</span> {item.dichtung}</div>
									</div>
								</f:if>

								<f:if condition="{item.optionen}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.optionen" />:</span> {item.optionen}</div>
									</div>
								</f:if>

								<f:if condition="{item.tauchteil}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.tauchteil" />:</span> {item.tauchteil}</div>
									</div>
								</f:if>

								<f:if condition="{item.lagerflansch}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.lagerflansch" />:</span> {item.lagerflansch}</div>
									</div>
								</f:if>

								<f:if condition="{item.umfangsgeschwindigkeit}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.umfangsgeschwindigkeit" />:</span> {item.umfangsgeschwindigkeit}</div>
									</div>
								</f:if>

								<f:if condition="{item.werkzeugschaft}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.werkzeugschaft" />:</span> {item.werkzeugschaft}</div>
									</div>
								</f:if>

								<f:if condition="{item.einsaugleistungpulver}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.einsaugleistungpulver" />:</span> {item.einsaugleistungpulver}</div>
									</div>
								</f:if>

								<f:if condition="{item.schergeschwindigkeit}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.schergeschwindigkeit" />:</span> {item.schergeschwindigkeit}</div>
									</div>
								</f:if>

								<f:if condition="{item.chargengroesse}">
									<div class="col-12 col-md-6">
										<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.chargengroesse" />:</span> {item.chargengroesse}</div>
									</div>
								</f:if>
							</div>
						</div>
					</div>
					<div class="maschine-technische mobile">
						<div class="container-fluid contentaccordion">
							<div class="panel-group" id="accordion-technical-data-{maschine.uid}">
								<div class="panel panel-default" id="accordionpanel-technical-data-{maschine.uid}">
									<div class="panel-heading">
										<h2 class="panel-title second">
											<a class="accordion-toggle collapsed" href="#accordioncollapse-technical-data-{maschine.uid}" data-parent="#accordion-technical-data-{maschine.uid}" data-toggle="collapse" aria-expanded="true">
												Technische Daten
											</a>
										</h2>
									</div>
									<div id="accordioncollapse-technical-data-{maschine.uid}" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="itemContainer">
												<div class="row">
													<f:if condition="{item.leistung}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.leistung" />:</span> {item.leistung} </div>
														</div>
													</f:if>

													<f:if condition="{item.spannung}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.spannung" />:</span> {item.spannung}</div>
														</div>
													</f:if>

													<f:if condition="{item.drehzahl}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.drehzahl" />:</span> {item.drehzahl}</div>
														</div>
													</f:if>

													<f:if condition="{item.dispergierkammer}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.dispergierkammer" />:</span> {item.dispergierkammer}</div>
														</div>
													</f:if>

													<f:if condition="{item.durchsatzfluessigkeit}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.durchsatzfluessigkeit" />:</span> {item.durchsatzfluessigkeit}</div>
														</div>
													</f:if>

													<f:if condition="{item.maximaleviskositaet}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.maximaleviskositaet" />:</span> {item.maximaleviskositaet}</div>
														</div>
													</f:if>

													<f:if condition="{item.dichtung}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.dichtung" />:</span> {item.dichtung}</div>
														</div>
													</f:if>

													<f:if condition="{item.optionen}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.optionen" />:</span> {item.optionen}</div>
														</div>
													</f:if>

													<f:if condition="{item.tauchteil}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.tauchteil" />:</span> {item.tauchteil}</div>
														</div>
													</f:if>

													<f:if condition="{item.lagerflansch}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.lagerflansch" />:</span> {item.lagerflansch}</div>
														</div>
													</f:if>

													<f:if condition="{item.umfangsgeschwindigkeit}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.umfangsgeschwindigkeit" />:</span> {item.umfangsgeschwindigkeit}</div>
														</div>
													</f:if>

													<f:if condition="{item.werkzeugschaft}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.werkzeugschaft" />:</span> {item.werkzeugschaft}</div>
														</div>
													</f:if>

													<f:if condition="{item.einsaugleistungpulver}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.einsaugleistungpulver" />:</span> {item.einsaugleistungpulver}</div>
														</div>
													</f:if>

													<f:if condition="{item.schergeschwindigkeit}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.schergeschwindigkeit" />:</span> {item.schergeschwindigkeit}</div>
														</div>
													</f:if>

													<f:if condition="{item.chargengroesse}">
														<div class="col-12 col-md-6">
															<div class="single-technische-daten"><span class=tech-name> <f:translate key="tx_j77products_domain_model_maschinenelemente.chargengroesse" />:</span> {item.chargengroesse}</div>
														</div>
													</f:if>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="5">
				<f:comment>Zertifizierungen</f:comment>
				<f:if condition="{item.icon}||{item.titel}">
					<div class="maschine-zertifizierungen desktop">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="maschine-zertifizierungen-inner">
										<div class="row">
											<div class="col-12 col-md-6">
												<section>
													<h2 class="second"><f:translate key="tx_j77products.certification" /></h2>
												</section>
											</div>
											<div class="col-12 col-md-6">
												<figure>
													<f:if condition="{item.icon}">
														<f:image src="{item.icon.originalResource.publicUrl}" />
													</f:if>
													<f:if condition="{item.titel}">
														<div>{item.titel}</div>
													</f:if>
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="maschine-zertifizierungen mobile">
						<div class="container-fluid contentaccordion">
							<div class="panel-group" id="accordion-certification-{maschine.uid}">
								<div class="panel panel-default" id="accordionpanel-certification-{maschine.uid}">
									<div class="panel-heading">
										<h2 class="panel-title second">
											<a class="accordion-toggle collapsed" href="#accordioncollapse-certification-{maschine.uid}" data-parent="#accordion-certification-{maschine.uid}" data-toggle="collapse" aria-expanded="true">
												<h2 class="second"><f:translate key="tx_j77products.certification" /></h2>
											</a>
										</h2>
									</div>
									<div id="accordioncollapse-certification-{maschine.uid}" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="itemContainer">
												<div class="row">
													<div class="col-12 col-md-6">
														<figure>
															<f:if condition="{item.icon}">
																<f:image src="{item.icon.originalResource.publicUrl}" />
															</f:if>
															<f:if condition="{item.titel}">
																<div>{item.titel}</div>
															</f:if>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="6">
				<f:comment>Downloads</f:comment>
				<f:if condition="{item.downloadrepeater}">
					<div class="maschine-downloads desktop">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="maschine-downloads-inner">
										<div class="row">
											<div class="col-12 col-md-6">
												<section>
													<h2 class="second"><f:translate key="tx_j77products.downloads" /></h2>
												</section>
											</div>
											<div class="col-12 col-md-6">
												<ul class="arrow-list">
													<f:for each="{item.downloadrepeater}" as="downloadfile">
														<f:if condition="{downloadfile.titel}&&{downloadfile.datei.originalResource.publicUrl}">
															<li>
																<a href="{f:uri.typolink(parameter: '{downloadfile.datei.originalResource.publicUrl}')}">{downloadfile.titel}</a>
															</li>
														</f:if>
													</f:for>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="maschine-downloads mobile">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="maschine-downloads-inner">
										<div class="row">
											<div class="collapse">
												<div class="col-12 col-md-6">
													<section>
														<h2 class="second"><f:translate key="tx_j77products.downloads" /></h2>
													</section>
												</div>
												<div class="col-12 col-md-6">
													<ul class="arrow-list">
														<f:for each="{item.downloadrepeater}" as="downloadfile">
															<f:if condition="{downloadfile.titel}&&{downloadfile.datei.originalResource.publicUrl}">
																<li>
																	<a href="{f:uri.typolink(parameter: '{downloadfile.datei.originalResource.publicUrl}')}">{downloadfile.titel}</a>
																</li>
															</f:if>
														</f:for>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</f:if>
			</f:case>

			<f:case value="7">
				<f:comment>Produktvarianten</f:comment>
				<f:if condition="{relatives}">
					<div class="maschine-produktvarianten">
						<div class="container-fluid">
							<section class="produktvarianten-detail row">
								<f:for each="{relatives}" as="relative">
									<f:render partial="Maschine/Relative" arguments="{relative:relative}" />
								</f:for>
							</section>
						</div>
					</div>
				</f:if>
			</f:case>
		</f:switch>
	</f:for>
</section>

<f:section name="image">

	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source media="(min-width:1170px)" data-srcset="{f:uri.image(image: file, width: '1170')}" srcset="#">
		<source media="(min-width:992px)" data-srcset="{f:uri.image(image: file, width: '992')}" srcset="#">
		<source media="(min-width:768px)" data-srcset="{f:uri.image(image: file, width: '768')}" srcset="#">
		<source media="(min-width:480px)" data-srcset="{f:uri.image(image: file, width: '480')}" srcset="#">
		<source data-srcset="{f:uri.image(image: file)}" srcset="#">
		<!--[if IE 9]></video><![endif]-->
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEA" data-src="{f:uri.image(image: file)}" alt="{file.alternative}" title="{file.title}" class="lazyload blur-up" />
	</picture>

</f:section>

</html>
