<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="field">
	<f:translate key="tx_dld_domain_model_application.userId" />
</label><br />
<f:form.textfield property="user_id" /><br />
<label for="field">
	<f:translate key="tx_dld_domain_model_application.eventId" />
</label><br />
<f:form.textfield property="event_id" /><br />
<label for="value">
	<f:translate key="tx_dld_domain_model_application.message" />
</label><br />
	<f:form.textfield property="message" /><br />
</html>