
<table class="tx-dld" >
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.email_private" />
		</td>
		<td>
			{people.emailPrivate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.email_default_cc" />
		</td>
		<td>
			{people.emailDefaultCc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.social_linkedin_url" />
		</td>
		<td>
			{people.socialLinkedinUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.social_twitter_username" />
		</td>
		<td>
			{people.socialTwitterUsername}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.is_amazing_speaker" />
		</td>
		<td>
			{people.isAmazingSpeaker}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dld_domain_model_people.amazing_speaker_sort_order" />
		</td>
		<td>
			{people.amazingSpeakerSortOrder}
		</td>
	</tr>
</table>