{namespace vd = DLD\Dld\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <div class="content-dld-inner">
        <h1>Listing for Venue</h1>

        <f:flashMessages/>
        <f:link.action action="new" class="float-right newaction"><i class="fa fa-plus-circle "></i>New Venue
        </f:link.action>
        <table class="tx_dld datatable1" id="venues">
            <thead>
            <tr>
                <th>
                    <f:translate key="tx_dld_domain_model_venue.name"/>
                </th>
                <th>
                    <f:translate key="tx_dld_domain_model_venue.street"/>
                    -
                    <f:translate key="tx_dld_domain_model_venue.street_number"/>
                </th>
                <th>
                    <f:translate key="tx_dld_domain_model_venue.zipcode"/>
                    -
                    <f:translate key="tx_dld_domain_model_venue.city"/>
                </th>
                <th>
                    <f:translate key="tx_dld_domain_model_venue.country"/>
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr class="inputs">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <!--<f:for each="{venues}" as="venue">
                <tr>
                    <td>
                        <f:link.action action="edit" arguments="{venue : venue}"> {venue.name}</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{venue : venue}">
                            {venue.street} {venue.streetNumber}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{venue : venue}">
                            {venue.zipcode} {venue.city}
                        </f:link.action>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{venue : venue}"> {venue.country}</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="edit" arguments="{venue : venue}"><i class="fa fa-edit"></i>
                        </f:link.action>
                    </td>
                    <td>
                        <f:if condition="{vd:VenueSession(id: venue.uid )} && {vd:VenueEvent(id: venue.uid )}">
                            <f:then>
                                <f:link.action action="delete" arguments="{venue : venue}"><i class="fa fa-trash"></i>
                                </f:link.action>
                            </f:then>
                        </f:if>
                    </td>
                </tr>
            </f:for>-->

        </table>


    </div>
</f:section>